@import 'variables';

.Container {
    display: flex;
    justify-content: center;
    border: 3px solid red;
    background-size: cover;
}

.Container__items {
    display: flex;
    flex-direction: column;
}
