@import "variables";

.Link {
	display: flex;
    align-items: center;
}

    .Link__title {
        color: $gray-darker;
        font: $font-text-md;
    }

    .Link__icon {
        margin-left: $margin-xs;
    }

    .Link__icon svg {
        fill: $gray-darker;
    }

.Link--large .Link__title {
    font: $font-heading-md;
}
