@import "variables";

.Link {
	display: flex;
}

    .Link__title {
        color: $blue;
        margin-right: $margin-sm;
        font: $font-text-md;
    }

    .Link__icon {
    	align-self: center;
    }
