@import "variables";

.Link {
	display: flex;
    align-items: center;
    flex-wrap: wrap;
}

    .Link__title {
        color: $gray;
        font: $font-heading-sm;
    }

    .Link__title:hover {
        color: $gray-hover;
    }

    .Link__icon {
        margin-left: $margin-xs;
    }

    .Link__icon svg {
        fill: $gray;
    }

.Link--large .Link__title {
    font: $font-heading-md;
}

.Link--blue .Link__title {
    color: $blue;
}

.Link--blue .Link__title:hover {
    color: $blue-hover;
}

.Link--white .Link__title {
    color: $white;
}

.Link--white .Link__title:hover {
    color: $white-hover;
}

.Link--white .Link__icon svg {
    fill: $white;
}
