/*

title: Text styles

code: |

    <h1>Header1</h1>

    <h2>Header2</h2>

    <h3>Header3</h3>

    <h4>Header4</h4>

    <p>Yet notwithstanding it is only a record of a <a
    href="https://en.wikipedia.org/wiki/Picnic">pic-nic</a>, it has a
    purpose, which is to suggest to the reader how he would be likely to
    see Europe and the East if he looked at them with his own eyes
    instead of the eyes of those who traveled in those countries
    <em>before</em> him.</p>

    <h5>Header 5</h5>

    <p>I make small pretense of showing anyone how he
    ought to look at objects of interest beyond the sea — <strong>other
    books</strong> do that, and therefore, even if I were competent to do
    it, there is no need.</p>

*/

$base-font-size: 100%;
$base-line-height: 1;

$font-primary: 'Sailec', 'Helvetica Neue', helvetica, arial, sans-serif !default;
$font-secondary: Georgia, Times, 'Times New Roman', serif;

$font-weight-normal: 400;
$font-weight-medium: 600;
$font-weight-bold: 700;

$font-size-tiny: 12px;
$font-size-small: 14px;
$font-size-normal: 16px;
$font-size-medium: 18px;
$font-size-large: 20px;
$font-size-larger: 24px;
$font-size-largest: 30px;
$font-size-huge: 96px;

$body-font-color: $color-text-black;
$body-font-family: $font-primary;
$body-font-weight: $font-weight-normal;
$body-font-style: normal;

