$base-font-size: 100%;
$base-line-height: 1;

$font-primary: 'Sailec Medium', 'Helvetica Neue', helvetica, arial, sans-serif !default;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 600;
$font-weight-bold: 700;

$font-size-tiny: 12px;
$font-size-small: 14px;
$font-size-normal: 16px;
$font-size-medium: 20px;
$font-size-large: 24px;
$font-size-larger: 30px;
$font-size-huge: 96px;

$body-font-color: $color-text-black;
$body-font-family: $font-primary;
$body-font-weight: $font-weight-normal;
$body-font-style: normal;

