@import url("//hello.myfonts.net/count/2f82f6");

@font-face {
    font-family: 'Sailec';
    font-weight: bold;
    font-style: normal;
    src: url('./2F82F6_0_0.eot');
    src: url('./2F82F6_0_0.eot?#iefix') format('embedded-opentype'),
         url('./2F82F6_0_0.woff2') format('woff2'),
         url('./2F82F6_0_0.woff') format('woff'),
         url('./2F82F6_0_0.ttf') format('truetype');
}

@font-face {
    font-family: 'Sailec';
    font-weight: 600;
    font-style: normal;
    src: url('./2F82F6_1_0.eot');
    src: url('./2F82F6_1_0.eot?#iefix') format('embedded-opentype'),
         url('./2F82F6_1_0.woff2') format('woff2'),
         url('./2F82F6_1_0.woff') format('woff'),
         url('./2F82F6_1_0.ttf') format('truetype');
}

@font-face {
    font-family: 'Sailec';
    font-weight: normal;
    font-style: normal;
    src: url('./2F82F6_2_0.eot');
    src: url('./2F82F6_2_0.eot?#iefix') format('embedded-opentype'),
         url('./2F82F6_2_0.woff2') format('woff2'),
         url('./2F82F6_2_0.woff') format('woff'),
         url('./2F82F6_2_0.ttf') format('truetype');
}

@font-face {
    font-family: 'Sailec';
    font-weight: normal;
    font-style: italic;
    src: url('./2F82F6_3_0.eot');
    src: url('./2F82F6_3_0.eot?#iefix') format('embedded-opentype'),
         url('./2F82F6_3_0.woff2') format('woff2'),
         url('./2F82F6_3_0.woff') format('woff'),
         url('./2F82F6_3_0.ttf') format('truetype');
}
