@import 'variables';

.ExperimentalRow {
    display: grid;
    display: block ?if $tablet;
}

.ExperimentalRow__item {
    margin-bottom: $margin-md ?if $tablet;
}

.ExperimentalRow__item:last-child {
    margin-bottom: 0;
}

.ExperimentalRow--debug .ExperimentalRow__item {
    border: 1px dashed $red;
}
