@import "variables";

.HeaderUnpublished {
    background: $pink;
    padding: calc($spacer * 1.5);
}

    .HeaderUnpublished__title {
        color: $gray-darker;
        font: $font-heading-sm;
    }
