@import "variables";

.DestinationHeader {
    padding-top: $padding-md;
    padding-bottom: $padding-lg;
    background: $yellow;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

    .DestinationHeader__navbar {
        margin-bottom: $margin-lg;
    }

    .DestinationHeader__parents {
        margin-bottom: $margin-sm;
        opacity: $opacity-md;
        display: flex;
    }

    .DestinationHeader__parents > * {
        margin-right: $margin-xs;
    }

    .DestinationHeader__title {
        font: $font-heading-xxl;
        color: $white;
        margin-bottom: $margin-sm;
    }

    .DestinationHeader__contentWrapper {
        display: flex;
        display: block ?if $tablet;
        align-items: flex-end;
        justify-content: space-between;
    }

    .DestinationHeader__description {
        font: $font-text-md;
        color: $white;
        line-height: $line-height-xl;
        width: 75%;
        width: 100% ?if $mobile;
    }

    .DestinationHeader__factsWrapper {
        display: flex;
        display: block ?if $mobile;
    }

    .DestinationHeader__facts {
        margin-right: $margin-md;
    }

    .DestinationHeader__stats {
        margin-top: $margin-md ?if $tablet;
        display: flex;
    }

    .DestinationHeader__stats > * {
        margin-right: $margin-md;
    }
