@import "variables";

.DestinationHeader {
    padding-top: $padding-md;
    padding-bottom: $padding-lg;
    background: $yellow;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

    .DestinationHeader__navbar {
        margin-bottom: $margin-xl;
    }

    .DestinationHeader__parents {
        margin-bottom: $margin-sm;
    }

    .DestinationHeader__title {
        font: $font-heading-xxl;
        color: $white;
        margin-bottom: $margin-md;
    }

    .DestinationHeader__description {
        font: $font-text-md;
        color: $white;
        line-height: $line-height-xl;
        width: 75%;
        width: 100% ?if $mobile;
    }
