@import 'variables';

.Row {
    display: flex;
    display: block ?if $tablet;
}

.Row__item {
    margin-bottom: $margin-md ?if $tablet;
}

.Row__item:last-child {
    margin-bottom: 0;
}

.Row--debug .Row__item {
    border: 1px dashed $red;
}
