@import "variables";

.TravelMateStart__fields {
    display: flex;
}

.TravelMateStart__field {
    padding: 12px;
    color: $gray;
    border: 1px solid $gray-light;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.TravelMateStart__fields .TravelMateStart--active {
    background-color: $green;
    color: $white;
}

.TravelMateStart__heading {
    color: hsl(204, 6%, 55%);
    display: block;
    font: $font-heading-md;
    line-height: 135%;
    margin-bottom: 12px;
}