@import "variables";

.TravelMateStart__fields {
    display: flex;
}

.TravelMateStart__fields > div {
    padding: 12px;
    color: hsl(204, 6%, 55%);
    border: 1px solid hsl(204, 6%, 88%);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.TravelMateStart__fields div.active {
    background-color: $green;
    color: $white;
}

.TravelMateStart__heading {
    color: hsl(204, 6%, 55%);
    display: block;
    font: 600 16px / 150% "Sailec", sans-serif;
    line-height: 135%;
    margin-bottom: 12px;
}