@import "variables";

.ForumPost {
    border: $border-gray-md;
    border-radius: $border-radius-md;
    border-radius: 0px ?if $mobile;
    padding: $padding-md;
    padding: 0px ?if $mobile;
}

    .ForumPost__content {
        display: flex;
    }

    .ForumPost__title {
        color: $gray-darkest;
        font: $font-heading-xl;
        margin-bottom: $margin-sm;
    }

    .ForumPost__left {
        padding-right: $padding-sm;
        display: none ?if $mobile;
        margin-left: calc($spacer * -3.5);
        margin-top: calc($spacer * -0.75);
    }

    .ForumPost__meta {
        margin-bottom: $margin-sm;
    }

.ForumPost--unpublished {
    opacity: $opacity-md;
    background: $pink;
}
