@import "variables";

.ExperimentGrid {
    display: grid;
    display: block ?if $tablet;
}

.ExperimentGrid__item {
    margin-bottom: $margin-md ?if $tablet;
}

.ExperimentGrid__item:last-child {
    margin-bottom: 0;
}