@import "variables";

.DestinationRow {
    display: inline-flex;
    padding: $padding-sm;
    border: 1px solid $yellow;
    border-radius: $border-radius-xl;
}

    .DestinationRow__name {
        font: $font-text-md;
        color: $yellow;
    }
