.FrontpageSearchRow {
  float: left;
  width: 100%;
  position: relative;
  margin-top: $padding-sm;
  min-height: 32px;
}

.FrontpageSearchRow__title {
  float: left;
  color: $red;
  padding-left: calc($padding-sm * 4);
  padding-bottom: $padding-xs;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: $font-weight-bold;
}

.FrontpageSearchRow__icon {
  display: none ?if $mobile;
  padding-left: $padding-sm;
  padding-top: 0;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.FrontpageSearchRow__icon svg {
  fill: $gray-light;
}

.FrontpageSearchRow__footer {
  width: 100%;
  float: left;
  padding-left: calc($padding-sm * 4);
  position: relative;
  background: $white;
  min-height: 32px;
  color: $blue;
  font-weight: $font-weight-semibold;
  font-size: $font-size-xs;
  padding-top: $padding-xs;
}

.FrontpageSearchRow__footer::before {
  content: '';
  position: absolute;
  top: -54px;
  left: 0;
  display: block;
  width: 100%;
  height: 54px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff);
  pointer-events: none;
}

.FrontpageSearchRow__footer svg {
  fill: $gray-light;
  display: inline-block;
  margin-left: $padding-xxs;
  position: relative;
  top: 2px;
}
