APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString

FULL_BASE_URL=http://localhost:8000/
FACEBOOK_CLIENT_ID=
FACEBOOK_SECRET_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_SECRET_KEY=

DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
PERMANENT_CACHE_DRIVER=array
SESSION_DRIVER=file
QUEUE_DRIVER=sync

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

PROMO_SIDEBARSMALL_ID1='';
PROMO_SIDEBARSMALL_ID2='';
PROMO_SIDEBARLARGE_ID1='';
PROMO_SIDEBARLARGE_ID2='';
PROMO_BODY_ID1='';
PROMO_BODY_ID2='';
PROMO_FOOTER_ID1='';
PROMO_FOOTER_ID2='';