@import "../../variables";

.page-company-page {

    height: 100%;
    width: 100%;
    position: relative;

    &__header-content {

        margin-top: calc(#{$spacer} * 5);
        margin-bottom: calc(#{$spacer} * 2);
        font-family: $font-family-sailec;

        @media (max-width: 768px) {

            margin-top: calc(#{$spacer} * 2);
            margin-left: calc(#{$spacer} * 2);
        }

        &__heading {

            font-weight: bold;
            font-size: 48px;
            line-height: 48px;
            text-align: left;
            color: $white;
            margin-left: $margin-xl;
            margin-bottom: 60px;

            @media (max-width: 768px) {

                font-size: 24px;
                line-height: 24px;
                margin-left: 0;
                margin-bottom: 24px;
            }
        }
    }

    &__content {

        font-family: $font-family-sailec;
        font-size: 16px;
        line-height: 24px;
        color: $dark-gray;
        padding: calc(#{$spacer} * 3) calc(#{$spacer} * 2) calc(#{$spacer} * 5) calc(#{$spacer} * 2);

        @media (max-width: 768px) {

            padding-top: calc(#{$spacer} * 2);
        }
    }

    &__info {

        margin-bottom: 48px;

        table {

            width: 100%;
            border: 0;
            text-align: left;

            th {

                width: 100px;
                color: $dark-gray;
                line-height: 36px;
            }

            td {

                a {

                    color: $blue;
                }
            }
        }
    }

    &__image {

        position: relative;
        width: 100%;

        img {

            max-height: 300px;
            height: 100%;
            width: 100%;
        }

        &__gallery {

            position: absolute;
            right: 15px;
            bottom: 15px;
            color: $white;
            font-weight: bold;
            font-size: 16px;
            cursor: pointer;
            padding: 3px 8px;
            background: $yellow;
            border-radius: 20px;

            &:hover {

                background: $color-yellow-hover;
            }
        }
    }
}