@import 'variables';

.OfferRow {
    display: flex;
    cursor: pointer;
}

.OfferRow__image {
    width: $width-md;
    height: $height-md;
    object-fit: cover;
    margin-right: $margin-sm;
}

.OfferRow__content {
    flex: 1;
}

.OfferRow__title {
    font: $font-text-lg;
    color: $blue;
    font: $font-heading-lg;
    margin-bottom: $margin-xxs;
}

.OfferRow__meta {
    font: $font-text-sm;
    color: $gray;
    flex: 1;
}

.OfferRow__meta > * {
    margin-right: $margin-xl;
    display: inline;
}
