.OfferRow {
  display: flex;
  cursor: pointer;
}

.OfferRow:hover {
  opacity: $opacity-xl;
}

.OfferRow__image {
  width: calc($spacer * 5);
  height: calc($spacer * 5);
  object-fit: cover;
  margin-right: $margin-sm;
}

.OfferRow__content {
  flex: 1;
}

.OfferRow__title {
  color: $white;
  font: $font-heading-lg;
  font-size: calc($spacer * 2);
  font-weight: bold;
  margin-bottom: $margin-xxs;
}

.OfferRow__price {
  color: $yellow-light;
}

.OfferRow__meta {
  display: flex;
  opacity: 0.75;
  flex-wrap: wrap;
}
.OfferRow__meta > * {
  margin-right: $margin-sm;
}

.OfferRow__metaPrimary {
  color: $white;
  font: $font-text-md;
}

.OfferRow__metaSecondary {
  color: $white;
  font: $font-text-md;
  opacity: $opacity-md;
}

.OfferRow--unpublished {
  opacity: $opacity-sm;
  cursor: default;
}

.OfferRow--unpublished:hover {
  opacity: $opacity-sm;
}
