@import "variables";

.Promo {

    position: relative;
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
}

    .Promo iframe {

        float: left;
        width: 100%;
    }
