@import "variables";

.NavbarSearch {
	display: flex;
	align-items: center;
}

	.NavbarSearch__icon {
		cursor: pointer;
		margin-right: $margin-sm;
		opacity: $opacity-lg;
	}

	.NavbarSearch__input {
		background: none;
		border: none;
        font: $font-heading-sm;
		padding: $padding-xs;
	}

	.NavbarSearch__input:focus {
	    outline: none;
	}

.NavbarSearch--white {
	fill: $white;
}

	.NavbarSearch--white .NavbarSearch__input {
		color: $white;
	}

.NavbarSearch--gray {
	fill: $gray-darkest;
}
