@import "variables";

.MapBackground {
    position: absolute;
    top: calc($spacer * -5);
    left: 0;
    width: calc($spacer * 110);
    height: calc($spacer * 60);
    right: 0;
    bottom: 0;
    opacity: $opacity-xxs;
    pointer-events: none;
    z-index: -1;
    background: $gray-darkest;
}
