@import "variables";

.MapBackground {
    position: absolute;
    top: calc($spacer * -5);
    left: calc($spacer * -5);
    width: calc($spacer * 100);
    height: calc($spacer * 60);
    opacity: $opacity-xxs;
    pointer-events: none;
    z-index: -1;
}
