@import "variables";

.MastHeadNews {
	height: 40vh;
	width: 100%;
	display: flex;
	justify-content: center;
    flex-wrap: wrap;
	background-repeat: no-repeat;
	background-size: cover;
}

    .MastHeadNews__header {
        width: 100%;
        padding-top: $padding-xs;
    }

    .MastHeadNews__body {
        align-self: flex-end;
        display: flex;
        flex-direction: column;
        max-width: 60%;
        margin-bottom: $margin-lg;
    }

        .MastHeadNews__title { 
        	font: $font-heading-xl;
            font: $font-heading-lg ?if $mobile;
        	color: $white;
        	padding: $padding-xs;
            text-align: center;  
        }

        .MastHeadNews__meta {
            align-self: flex-end;
            color: $white;
            opacity: $opacity-md;
        }


