.HeaderTab {
    color: $white;
    padding: calc($spacer * 1.5);
    display: block;
}

.HeaderTab:hover {
    color: $white-hover;
}

    .HeaderTab__count {
        border-radius: calc($spacer * 4);
        color: $white;
        background: $gray;
        padding: 4px 9px 1px;
        display: inline-block;
        margin-left: calc($spacer / 4);
    }

.HeaderTab:hover,
.HeaderTab__active {
    display: block;
    color: $blue;
    background: $white;
}

.HeaderTab__active:hover {
    color: $blue-hover;
    background: $white-hover;
}

    .HeaderTab:hover .HeaderTab__count,
    .HeaderTab__active .HeaderTab__count {
        background: $gray-light;
        color: $gray-dark;
    }