.ExperimentalCard {
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100%;
    padding: $padding-md;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .ExperimentalCard__title {
        color: $white;
        font: $font-heading-md;
        text-shadow: $text-shadow-md;
        text-align: center;
    }

    .ExperimentalCard__title:hover {
        color: $white-hover;
    }