html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    padding: $spacer / 2;
}

img {
    max-width: 100%;
}