/* 

Text styles

<h1>Header1</h1>
<h2>Header2</h2>
<h3>Header3</h3>
<h4>Header4</h4>
<p>Yet notwithstanding it is only a record of a <a
href="https://en.wikipedia.org/wiki/Picnic">pic-nic</a>, it has a
purpose, which is to suggest to the reader how he would be likely to
see Europe and the East if he looked at them with his own eyes
instead of the eyes of those who traveled in those countries
<em>before</em> him.</p>
<h5>Header 5</h5>
<p>I make small pretense of showing anyone how he
ought to look at objects of interest beyond the sea — <strong>other
books</strong> do that, and therefore, even if I were competent to do
it, there is no need.</p>


*/

@import url(https://fonts.googleapis.com/css?family=Karla:400,700);

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    letter-spacing: -0.05em;
}

ul {
    &.list-inline {
        margin-bottom: 0;
    }
}

pre {
    padding: (($line-height-computed - 1) / 2.5);
    font-size: ($font-size-base - 2);
    overflow: auto;
    word-wrap: normal;
}