@import url(https://fonts.googleapis.com/css?family=Karla:400,700);

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    letter-spacing: -0.05em;
}

ul {
    &.list-inline {
        margin-bottom: 0;
    }
}

pre {
    padding: (($line-height-computed - 1) / 2.5);
    font-size: ($font-size-base - 2);
    overflow: auto;
    word-wrap: normal;
}