.utils-unpublished {
    background-color: rgba(255,0,0,0.1);
    opacity: 0.7;
    padding: $spacer;
    border: none !important;
}

.utils-read {
    opacity: 0.5;
}

.utils-equal-height {
    display: flex;
}

// Borders

.utils-border-top {
    padding-top: $spacer;
    margin-top: $spacer;
    border-top: 1px solid #eee;
}
.utils-border-bottom {
    padding-bottom: $spacer;
    margin-bottom: $spacer;
    border-bottom: 1px solid #eee;
}

// Paddings

.utils-padding {
    padding: $spacer;
}

.utils-padding-top {
    padding-top: $spacer;
}

.utils-padding-bottom {
    padding-bottom: $spacer;
}

.utils-padding-left {
    padding-left: $spacer;
}

.utils-padding-right {
    padding-right: $spacer;
}

.utils-half-padding-left {
    padding-left: $spacer / 2;
}

.utils-half-padding-right {
    padding-right: $spacer / 2;
}

.utils-double-padding-left {
    padding-left: $spacer * 2;
}

// Borders

.utils-shadow {
    box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.25);
}