.utils-unpublished {
    background-color: rgba(255,0,0,0.1);
    opacity: 0.7;
    padding: $spacer;
    border: none !important;
}

.utils-read {
    opacity: 0.5;
}

.utils-padding-bottom {
    padding-bottom: $spacer;
}

.utils-double-padding-bottom {
    padding-bottom: $spacer * 2;
}

.utils-padding-right {
    padding-right: $spacer;
}

.utils-border-top {
    padding-top: $spacer;
    margin-top: $spacer;
    border-top: 1px solid #eee;
}

.utils-border-bottom {
    padding-bottom: $spacer;
    margin-bottom: $spacer;
    border-bottom: 1px solid #eee;
}