@import "variables";

.Button {
    align-items: center;
    background: $green;
    border-radius: $border-radius-md;
    display: flex;
    font: $font-heading-sm;
    justify-content: center;
    padding: $padding-sm $padding-lg;
}

.Button__icon {
    margin-right: $margin-xs;
}

.Button__title {
    color: $white;
}

.Button--facebook {
    background: $facebook;
    ppadding: $padding-xs;
}

.Button--twitter {
    background: $twitter;
    ppadding: $padding-xs;
}
