@import "variables";

.Button {
    align-items: center;
    background: $green;
    border-radius: $border-radius-md;
    display: flex;
    font: $font-heading-sm;
    justify-content: center;
    padding: $padding-sm $padding-lg;
    text-align: center;
}

.Button:hover {
    background: $green-hover;
}

    .Button__icon {
        margin-right: $margin-xs;
    }

    .Button__title {
        color: $white;
    }

    .Button--cyan {
        background: $cyan;
    }

    .Button--cyan:hover {
        background: $cyan-hover;
    }

    .Button--facebook {
        background: $facebook;
    }

    .Button--twitter {
        background: $twitter;
    }

    .Button--transparent {
        background: rgba(0, 0, 0, 0.2);
        border: $border-white-md;
    }

    .Button--transparent:hover {
        background: rgba(0, 0, 0, 0.3);
    }

.Button--narrow {
    display: inline-flex;
    display: flex ?if $mobile;
}

