@import "variables";

.Paginator {
    width: 100%;
    display: flex;
    justify-content: center;
}

.Paginator__button {
    padding: $padding-sm $padding-md;
    background: $gray-light;
    border-radius: $border-radius-md;
    font: $font-text-md;
    color: $gray;
}

.Paginator__button:hover {
    background: $gray-light-hover;
}

.Paginator__button {
    margin-right: $margin-sm;
}

.Paginator__button--disabled {
    opacity: $opacity-sm;
}
