@import "../../variables";

.TravelOfferAddNewSelect {
    display: flex;
    width: 100%;
    flex-direction: column;

    &__button {
        cursor: pointer;
    }
}

.TravelOfferAddNewSelect .multiselect__tags {
    background: $green;
    border: none!important;

    input {
        background: $green;
        color: $white;
        cursor: pointer;
        font-weight: bold!important;

        &::placeholder {
            color: $white;
            font-weight: bold;
        }
    }
}

.TravelOfferAddNewSelect .multiselect__select {
    height: 33px;

    &:before {
        border-color: #fff transparent transparent;
        color: #fff;
    }
}