@import "../../../scss/variables";

.TravelOfferListItem {
    display: flex;
    justify-content: flex-start;
    min-height: 50px;
    width: 100%;
    align-items: flex-start;
    text-align: left;
    font-family: $font-family-sailec;
    line-height: 28px;
    font-size: 18px;
    color: $gray;
    padding: 12px 0;

    &__image {
        display: flex;
        align-self: center;
        margin-right: 20px;

        svg {
            width: 40px;
            height: 40px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__title {
        display: flex;
        width: 100%;
        font-size: $font-size-lg;
        line-height: $line-height-md;
        cursor: pointer;
        font-family: $font-family-sailec;
        margin-bottom: 4px;

        a {
            color: $blue;
            text-decoration: none;
            font-size: $font-size-xl;
            line-height: $line-height-md;

            &:hover {
                color: $blue-hover;
            }

            span.price {
                color: $orange-dark;
            }

            span.from {
                font-size: $font-size-lg;
            }
        }

        span {
            color: $gray;
        }
    }

    &__meta {
        display: flex;
        width: 100%;
        align-items: center;
        flex-wrap: wrap;
    }

    &__days {
        font-size: $font-size-xs;
        margin-right: 12px;
    }

    &__tag {
        margin-right: 12px;
        cursor: pointer;

        a {
            color: grey;
            text-decoration: none;
        }
    }

    &__dates {
        font-size: $font-size-xs;
        margin-left: 10px;
        margin-right: 10px;
    }

    &__button {
        margin-right: 10px;

        a {
            display: block;
            color: $white;
        }
    }
}