@import "variables";

.MessageRow {
    display: flex;
    align-items: center;
}

    .MessageRow__user {
        margin-right: $margin-sm;
    }

    .MessageRow__title {
        font: $font-text-md;
        color: $gray-darker;
        line-height: $line-height-md;
    }
