@import "variables";

    .QuizFields__question , .QuizFields__picture{
        display: flex;
        display: block ?if $mobile;
        align-items: center;
    }

    .QuizFields__label {
        color: $gray;
        font: $font-heading-sm;
        margin-left: $margin-xs;
    }

    .QuizFields__delete {
        margin: 0 $margin-sm 0 $margin-sm;
        margin: 0 0 $margin-sm 0 ?if $mobile;
    }