.c-about {

    display: flex;
    flex-flow: row wrap;
    padding: $spacer * 2 0;

    @include respond-to(desktop) {

        padding: $spacer * 4 0;
    }
}

    .c-about__content {

        .c-about.m-wide & {

            @include respond-to(tablet) {

                flex: 0 1 67%;
                padding: 0 0 0 $spacer * 6;
            }
        }
    }

        .c-about__title {

            font-size: $font-size-large;
            font-weight: $font-weight-bold;
            line-height: 1.15;
            margin-bottom: $spacer;
        }

    .c-about__action {

        padding: $spacer * 4 0 0;

        .c-about.m-wide & {

            @include respond-to(tablet) {

                flex: 0 1 33%;
                padding: 0 $spacer * 4;
            }
        }
    }
