.c-about {

    display: flex;
    flex-flow: row wrap;
    padding: 48px 0;

    @include respond-to(desktop) {

        padding: 48px 0;
    }
}

    .c-about__content {

        .c-about.m-wide & {

            @include respond-to(tablet) {

                flex: 0 1 67%;
                padding: 0 0 0 72px;
            }
        }
    }

        .c-about__title {

            font-size: $font-size-large;
            font-weight: $font-weight-bold;
            line-height: 1.15;
            margin-bottom: 12px;
        }

    .c-about__action {

        padding: 24px 0 0;

        .c-about.m-wide & {

            @include respond-to(tablet) {

                flex: 0 1 33%;
                padding: 0 48px;
            }
        }
    }
