.c-alert {

    color: $color-white;
    font-size: $font-size-normal;
    line-height: $font-size-normal * 1.5;
    font-weight: $font-weight-medium;
    padding: $spacer;
    background: $color-white;
    position: relative;

    @include respond-to(tablet) {

        padding: $spacer * 1.5 $spacer * 2;
    }

    &.m-warning {

        color: $color-text-black;
        background: $color-fill-warning;
        border: 1px solid $color-fill-warning-dark;
        border-bottom: 2px solid $color-fill-warning-dark;
    }

    &.m-notice {

        color: $color-fill-notice;
        border: 2px solid $color-fill-notice;
    }

    &.m-error {

        color: $color-fill-error;
        border: 2px solid $color-fill-error;
    }

    &.m-success {

        color: $color-fill-success;
        border: 2px solid $color-fill-success;
    }

    .c-alert__close {

        position: absolute;
        right: $spacer;
        top: $spacer;
        display: block;
        color: $color-fill-neutral-darkest;
        cursor: pointer;

        @include respond-to(tablet) {

            top: $spacer * 1.5;
            right: $spacer * 2;
        }

        &:hover {

            color: $color-fill-black;
        }
    }

    a {

        color: $color-text-link;
        text-decoration: none;

        &:hover {

            text-decoration: underline;
        }
    }
}
