.c-button {

    @include font-smoothing;

    color: $color-white;
    font-family: $font-primary;
    font-weight: $font-weight-medium;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: $spacer $spacer * 2;
    background: $color-fill-success;
    border-radius: 3px;

    &:hover {

        background: $color-fill-success-dark;
    }

    &.m-secondary {

        color: $color-text-link;
        background: $color-white;
        box-shadow: 0 1px 1px rgba($color-fill-neutral, 0.75);
    }

    &.m-block {

        display: block;
    }

    &.m-big {

        padding: $spacer * 1.5 $spacer * 3;
    }
}
