.c-button {

    @include font-smoothing;

    color: $color-white;
    font-family: $font-primary;
    font-weight: $font-weight-medium;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: $spacer $spacer * 2;
    background-color: $color-fill-success;
    border: none;
    border-radius: 3px;

    &:hover {

        background: $color-fill-success-dark;
    }

    &.m-secondary {

        color: $color-text-link;
        background: $color-white;
        box-shadow: 0 1px 1px rgba($color-fill-neutral, 0.75);
    }

    &.m-block {

        display: block;
        width: 100%;
    }

    &.m-large {

        font-size: $font-size-large;
        padding: $spacer $spacer * 3;
    }

    &.m-loading {

        // Color variables set in another commit - FIX

        background-image: linear-gradient(-45deg, $color-fill-neutral 25%, $color-fill-neutral-dark 25%, $color-fill-neutral-dark 50%, $color-fill-neutral 50%, $color-fill-neutral 75%, $color-fill-neutral-dark 75%, $color-fill-neutral-dark);
        background-size: 50px 50px;
        animation: move 2s linear infinite;
    }
}

@keyframes move {

  0% { background-position: 0 0;}
  100% { background-position: 50px 50px;}
}
