.c-button-group {

    @include clear-list;

    display: flex;
    align-items: center;
}

    .c-button-group__item {

        padding-right: $spacer;

        &.m-hide {

            display: none;
        }

        &.m-right {

            margin-left: auto;
        }
    }
