.c-button-group {

    @include clear-list;

    @include respond-to(tablet) {

        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    &.m-small {

        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
}

    .c-button-group__item {

        margin-bottom: $spacer;
        padding-right: $spacer;
        padding-left: 0;

        &::before {

            content: normal;
            position: static;
        }

        @include respond-to(tablet) {

            margin-bottom: 0;
        }

        .c-button-group.m-small & {

            padding-right: $spacer / 2;
        }

        &.m-hide {

            display: none;
        }

        &.m-right {

            margin-left: auto;
        }
    }
