// Button
//
// Your standard button suitable for clicking.
//
// Markup:
// <a class="c-button {$modifiers}">This is a button</a>
//
// default   - A button.
// :hover    - Highlights when hovering.
// .m-big    - A big button.
// .m-block  - Block level button.
// .m-secondary    - A secondary button.
//
// Styleguide 1

.c-button {

	@include font-smoothing;

	color: $color-white;
	font-family: $font-primary;
	font-weight: $font-weight-medium;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	padding: 12px 24px;
	background: $color-fill-success;
	border-radius: 3px;

	&:hover {

		background: $color-fill-success-dark;
	}

	&.m-secondary {

		color: $color-text-link;
		background: $color-white;
		box-shadow: 0 1px 1px rgba($color-fill-neutral, .75);
	}

	&.m-block {

		display: block;
	}

	&.m-big {

		padding: 18px 36px;
	}
}
