.c-destination-info {}

    .c-destination-info__text {

        margin-bottom: 24px;
        color: $color-white;
        font-size: 18px; // Exception
        font-weight: $font-weight-medium;
        line-height: 1.5;

        a {

            @include color-modifiers-dark-and;

            font-size: $font-size-normal;
            font-weight: $font-weight-bold;
            text-decoration: none;
        }
    }

    .c-destination-info__definition-list {

        @include clearfix;

        font-weight: $font-weight-medium;
    }

        .c-destination-info__definition-list-term {

            @include color-modifiers-dark-and;

            float: left;
            clear: left;
            min-width: 30%;
            margin-bottom: 18px;
        }

        .c-destination-info__definition-list-definition {

            color: $color-white;
            float: left;
            margin-bottom: 18px;
        }