.c-flag {

    @include color-modifiers(background);

    width: 100%;
    padding-bottom: 100%;
    position: relative;
    line-height: 0;
    border-radius: 50%;
}

    .c-flag__item {

        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

        .c-flag__item-text {

            @include font-smoothing;

            font-size: $font-size-medium;
            font-family: $font-primary;
            font-weight: $font-weight-medium;
            color: $color-white;
        }
