.c-flag {

    height: auto;
    width: 100%;
    display: flex;
}

    .c-flag__item {

        align-items: center;
        justify-content: center;
        text-align: center;
        display: flex;
        margin-left: $spacer * 1.5;
        padding-left: 0;
        margin-bottom: 0;

        &::before {

            content: normal;
            position: static;
        }

        &:first-child {

            margin-left: 0;
        }
    }

        .c-flag__item-link {

            color: $color-text-gray;
            text-decoration: none;
            width: 100%;
            height: $spacer * 2.5;
            align-items: center;
            justify-content: center;
            text-align: center;
            display: flex;

            &:hover {

                @include color-modifiers-and(color);
            }

            &.m-active {

                @include color-modifiers-and(color);
            }
        }

            .c-flag__item-icon {

                width: $spacer * 2;
                height: $spacer * 2;
                flex: 0 0 $spacer * 2;
                margin-right: $spacer / 2;
                display: none;

                @include respond-to(tablet) {

                    width: $spacer * 2.5;
                    height: $spacer * 2.5;
                    flex: 0 0 $spacer * 2.5;
                }

                &.m-active {

                    display: block;
                }

                &.m-filled {

                    svg {

                        @include color-modifiers-and(fill);
                    }
                }

                svg {

                    fill: $color-text-gray;

                    .c-flag__item-link:hover & {

                        @include color-modifiers-and(fill);
                    }
                }
            }

            .c-flag__item-text {

                @include font-smoothing;

                font-size: $font-size-small;
                font-family: $font-primary;
                font-weight: $font-weight-medium;
                flex: 1;
            }
