.c-flag {

    height: auto;
    width: 100%;
    display: flex;
}

        .c-flag__item {

            @include color-modifiers(background);

            border-radius: 50%;
            align-items: center;
            justify-content: center;
            text-align: center;
            display: flex;
            width: 30px;
            height: 30px;
            margin-left: $spacer;

            &:first-child {

                margin-left: 0;
            }
        }

            .c-flag__item-text {

                @include font-smoothing;

                font-size: $font-size-medium;
                font-family: $font-primary;
                font-weight: $font-weight-medium;
                color: $color-fill-neutral;
            }

                .c-flag__item-link {

                    color: $color-white;
                    text-decoration:none;

                    &:hover {

                        color: $color-fill-neutral;
                    }
                }
