.c-gallery {}

.c-gallery__list {

    @include clearfix;
    @include clear-list;

    display: flex;
    flex-flow: row wrap;
}

    .c-gallery__list-item {

        position: relative;
        padding-left: 0;
        margin-bottom: 0;

        &::before {

            content: normal;
            position: static;
        }

        .c-gallery.m-8-cols & {

            flex: 0 1 50%;

            @include respond-to(tablet-portrait) {

                flex: 0 1 25%;
            }

            @include respond-to(tablet) {

                flex: 0 1 25%;
            }

            @include respond-to(desktop) {

                flex: 0 1 12.5%;
            }
        }

        .c-gallery.m-6-cols & {

            flex: 0 1 50%;

            @include respond-to(tablet-portrait) {

                flex: 0 1 33.33%;
            }

            @include respond-to(tablet) {

                flex: 0 1 33.33%;
            }

            @include respond-to(desktop) {

                flex: 0 1 16.6666%;
            }
        }
    }

        .c-gallery__list-item-link {

            position: relative;
            overflow: hidden;
            display: block;
            height: 0;
            padding-bottom: 100%;

            &:hover {

                text-decoration: none;
            }
        }

        .c-gallery__list-item-image {

            position: absolute;
            top: 50%;
            left: 50%;
            min-width: 100%;
            min-height: 100%;
            height: auto;
            transform: translate(-50%, -50%);
        }

        .c-gallery__more {

            color: $color-white;
            font-size: $font-size-huge / 2;
            font-weight: $font-weight-bold;
            text-decoration: none;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            background: rgba($color-fill-black-dark, 0.6);
        }

.c-gallery__modal {

    @include color-modifiers-dark-opacity();

    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba($color-fill-black, 0.8);

    &.m-active {

        display: block;
    }
}

    .c-gallery__modal-close {

        position: absolute;
        z-index: 1000;
        top: $spacer;
        right: $spacer;
        display: block;
        height: $spacer * 4;
        width: $spacer * 4;
        padding: $spacer;
        transform: rotate(45deg);

        svg {

            @include color-modifiers-and('fill');

            fill: $color-white;
            height: $spacer * 2;
            width: $spacer * 2;
        }

        &:hover {

            svg {

                fill: $color-white;
            }
        }
    }

    .c-gallery__modal-inner {

        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;

        @include respond-to(tablet) {

            @include wrap();

            left: 50%;
            top: 50%;
            height: 70%;
            transform: translate(-50%, -50%);
        }

        @include respond-to(desktop) {

            margin-top: -$spacer * 6;
        }

        @include respond-to(desktop-medium) {

            margin-top: -$spacer * 6.5;
        }

        @include respond-to(desktop-large) {

            margin-top: -$spacer * 7;
        }
    }

        .c-gallery__modal-image-container {

            @include color-modifiers-dark-and('background');

            position: relative;
            width: 100%;
            height: 100%;
            margin-top: -$spacer / 12;
        }

            .c-gallery__modal-image {

                display: none;
                height: 100%;
                width: 100%;
                overflow: hidden;
                box-shadow: 0 12px 36px $color-fill-black;

                 @each $name, $color, $color-dark in $colors {

                    .c-gallery__modal.m-#{$name} & {

                        box-shadow: 0 12px 36px $color-dark;
                    }
                }

                &.m-active {

                    display: block;
                }

                img {

                    position: relative;
                    top: 50%;
                    left: 50%;
                    max-width: 100%;
                    height: auto;
                    transform: translate(-50%, -50%);

                    @include respond-to(tablet) {

                        max-height: 100%;
                        max-width: auto;
                        width: auto;
                    }

                    @include respond-to(desktop) {

                        object-fit: cover;
                        height: 100%;
                        width: auto;
                    }
                }
            }

                .c-gallery__modal-tags {

                    position: absolute;
                    left: $spacer;
                    bottom: $spacer;
                    display: none;

                    @include respond-to(desktop) {

                        display: block;
                        max-width: $spacer * 40;
                    }
                }

                .c-gallery__modal-title {

                    color: $color-white;
                    font-size: $font-size-small;
                    text-align: right;
                    position: absolute;
                    right: $spacer;
                    bottom: $spacer;
                    line-height: 150%;
                    text-shadow: 0 1px 3px rgba($color-text-black, 0.5);

                    @include respond-to(desktop) {

                        max-width: $spacer * 40;
                    }
                }
                    .c-gallery__modal-title a {
                        text-decoration: none;
                        color: $color-white;
                    }
                .c-gallery__modal-title a:hover {
                    text-decoration: underline;
                }

            .c-gallery__modal-nav {

                position: absolute;
                z-index: 1000;
                top: 50%;
                display: block;
                height: $spacer * 4;
                width: $spacer * 4;
                margin-top: -$spacer * 2;

                &.m-previous {

                    left: $spacer;

                    @include respond-to(desktop) {

                        left: -$spacer * 2;
                    }
                }

                &.m-next {

                    right: $spacer;

                    @include respond-to(desktop) {

                        right: -$spacer * 2;
                    }
                }

                svg {

                    @include color-modifiers-and('fill');

                    fill: $color-white;
                }

                &:hover {

                    svg {

                        fill: $color-white;
                    }
                }
            }

        .c-gallery__modal-thumb-container {

            position: absolute;
            left: 0;
            overflow: hidden;
            width: 100%;
            display: none;

            @include respond-to(desktop) {

                display: block;
                bottom: -$spacer * 12;
                height: $spacer * 12;
            }

            @include respond-to(desktop-medium) {

                bottom: -$spacer * 13;
                height: $spacer * 13;
            }

            @include respond-to(desktop-large) {

                bottom: -$spacer * 14;
                height: $spacer * 14;
            }
        }

        .c-gallery__modal-thumb-container-inner {

            @include clearfix;

            position: relative;
            width: 100%;
            height: 100%;
            display: block;
            white-space: nowrap;
        }

            .c-gallery__modal-thumb {

                position: relative;
                display: inline-block;
                height: 100%;
                background-size: cover;

                @include respond-to(desktop) {

                    width: $spacer * 12;
                    height: $spacer * 12;
                }

                @include respond-to(desktop-medium) {

                    width: $spacer * 13;
                    height: $spacer * 13;
                }

                @include respond-to(desktop-large) {

                    width: $spacer * 14;
                    height: $spacer * 14;
                }

                &::before {

                    @include color-modifiers-dark-and-opacity();

                    content: '';
                    position: absolute;
                    z-index: 5;
                    left: 0;
                    top: 0;
                    display: block;
                    width: 100%;
                    height: 100%;
                    background: rgba($color-fill-black, 0.8);
                }

                &.m-active {

                    &::before {

                        display: none;
                    }
                }
            }
