.c-columns {

	display: flex;
	flex-wrap: wrap;
}

	.c-columns__item {

		max-width: 100%;

		.c-columns.m-3-cols & {

			flex: 1 0 320px;
		}

		.c-columns.m-4-cols & {

			flex: 1 0 100%;

			@include respond-to(tablet-portrait) {

				flex: 1 0 50%;
			}

			@include respond-to(tablet) {

				flex: 1 0 25%;
			}
		}
	}
