.c-header {

    position: absolute;
    z-index: 9998;
    top: inherit;
    left: 0;
    height: $spacer * 6.5;
    padding: 0 $spacer * 1.5;
    width: 100%;

    @include respond-to(tablet) {

        height: auto;
        background: none;
        padding: $spacer * 0.75 $spacer * 2 0;
    }

    @include respond-to(desktop) {

        padding: $spacer * 0.75 $spacer * 4 0;
    }
}

    .c-header__logo {

        position: absolute;
        left: $spacer * 1.5;
        top: 0;
        display: flex;
        align-items: center;
        height: $spacer * 6.5;
        width: $spacer * 6.5;

        @include respond-to(tablet) {

            display: none;
        }
    }

        .c-header__logo-link {

            display: block;
            height: 100%;
            width: 100%;
        }

    .c-header__search {

        display: none;

        @include respond-to(tablet) {

            float: left;
            display: block;
            width: $spacer * 15;
            padding: $spacer / 2 0;
            background: none;
        }
    }

    .c-header__nav-trigger {

        float: right;
        position: relative;
        z-index: 2000;
        display: block;
        height: $spacer * 4;
        width: $spacer * 4;
        margin-top: $spacer * 1.25;

        @include respond-to(tablet) {

            display: none;
        }

        span {

            position: absolute;
            top: 50%;
            left: $spacer;
            height: $spacer / 4;
            width: $spacer * 2;
            margin-top: -$spacer / 6;
            background: $color-white;
            transition: all 0.2s;

            &:nth-child(1) {

                transform: translateY(-7px);
            }

            &:nth-child(3) {

                transform: translateY(7px);
            }
        }

        &.m-dark {

            span {

                background: $color-text-black;
            }
        }

        &.m-active.m-dark {

            span {

                background: $color-white;
            }
        }

        &.m-active {

            span {

                &:nth-child(1) {

                    transform: translateY(0) rotate(-45deg);
                }

                &:nth-child(2) {

                    opacity: 0;
                }

                &:nth-child(3) {

                    transform: translateY(0) rotate(45deg);
                }
            }
        }
    }

    .c-header__nav {

        display: none;

        @include respond-to(tablet) {

            float: right;
            display: block;
        }
    }

    .c-header__mobile-nav {

        display: none;

        @include respond-to(tablet) {

            display: none;
        }

        &.m-active {

            position: fixed;
            z-index: 1100;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            overflow: hidden;

            @include respond-to(tablet) {

                display: none;
            }
        }
    }

        .c-header__mobile-nav-search {

            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 9999;
            display: block;
            width: 100%;
            padding: $spacer;

            @include respond-to(tablet) {

                display: none;
            }
        }

        .c-header__mobile-nav-user {}

    .c-header__user {

        display: none;
        float: right;
        position: relative;
        z-index: 2000;
        margin-top: $spacer * 1.25;

        @include respond-to(tablet) {

            margin: 0;
            display: block;
        }
    }
