.c-inline-list {
    font-family: $font-primary;

    list-style: none;
    display: inline-flex;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;
}

    .c-inline-list__item {
        &:before {
            content: "?";
            margin: 0 $spacer / 2;
        }

        &:first-child:before {
            content: none;
            margin: 0;
        }
    }

        .c-inline-list__item-link {

            @include color-modifiers-and(color);

            color: $color-text-link;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
