.c-link {

    @include clearfix;
    @include color-modifiers;

    color: $color-text-link;
    font-size: $font-size-normal;
    font-weight: $font-weight-medium;
    text-decoration: none;
    padding: 0;
    background: none;
    border: none;

    &.m-large {

        font-size: $font-size-large;
        font-weight: $font-weight-bold;
    }

    &.m-small {

        font-size: $font-size-small;
    }

    &.m-tiny {

        font-size: $font-size-tiny;
    }

    &.m-block {

        display: block;
    }

    &.m-right {

        float: right;
    }
}
