.c-list {

    @include clear-list;

    font-family: $font-primary;
    margin-bottom: $spacer * 2;

    @include respond-to(tablet) {

        margin: 0 0 $spacer * 2.5;
    }
}

    .c-list__item {

        margin-bottom: $spacer;

        .c-list.m-large & {

            margin-bottom: $spacer * 2;
        }

        .c-list.m-dot & {

            font-weight: $font-weight-medium;
            position: relative;
            padding-left: $spacer * 2;

            &:before {

                content: '';
                position: absolute;
                left: 0;
                top: 3px;
                width: 7px;
                height: 7px;
                border-radius: 50%;
            }
        }

        @each $name, $color, $color-dark in $colors {

            .c-list.m-dot.m-#{$name} & {

                &:before {

                   background-color: $color;
                }
            }
        }
    }

        .c-list__item-title {

            font-size: $font-size-normal;
            line-height: 1.5;

            .c-list.m-large & {

                font-size: $font-size-large;
                font-weight: $font-weight-bold;
                line-height: 1.15;
            }
        }

            .c-list__item-title-link {

                @include color-modifiers-and(color);

                color: $color-text-link;
                text-decoration: none;

                .c-list.m-dot & {

                    color: $color-text-black;
                }

                &:hover {

                    text-decoration: underline;
                }
            }

        .c-list__item-text {

            color: $color-text-neutral-dark;
            font-size: $font-size-small;

            .c-list.m-large & {

                font-size: $font-size-normal;
                margin-top: $spacer * 0.75;
            }

            .c-list.m-dot & {

                display: none;
            }
        }
