.c-nav {

    &.m-active {

        @include color-modifiers(background);

        position: fixed;
        z-index: 1200;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
    }
}

    .c-nav__trigger {

        position: absolute;
        z-index: 1001;
        right: 0;
        top: 0;
        display: block;
        height: $spacer * 5;
        width: $spacer * 5;

        @include respond-to(tablet) {

            display: none;
        }

        .m-logged-in & {

            right: $spacer * 5;
        }

        .c-nav.m-active & {

            position: fixed;
        }

        span {

            position: absolute;
            top: 50%;
            left: $spacer * 1.5;
            height: $spacer / 4;
            width: $spacer * 2;
            margin-top: -$spacer / 6;
            background: $color-text-link;
            transition: all .2s;

            &:nth-child(1) {

                transform: translateY(-7px);
            }

            &:nth-child(3) {

                transform: translateY(7px);
            }

            .c-nav.m-active &,
            .c-nav.m-alternative & {

                background: $color-white;
            }
        }
    }
