.c-news {

    margin-bottom: $spacer * 2;

    @include respond-to(tablet) {

        margin-bottom: $spacer * 4;
    }
}

    .c-news__image-wrap {

        position: relative;
        overflow: hidden;
        display: block;
        height: $spacer * 16;
        margin-bottom: $spacer * 2;

        .c-news.m-small & {

            height: $spacer * 12;
        }
    }

        .c-news__image {

            position: absolute;
            top: 50%;
            left: 50%;
            display: block;
            max-width: 120%;
            height: auto;
            transform: translate(-50%, -50%);
        }

    .c-news__title {

        font-size: $font-size-larger;
        font-weight: $font-weight-bold;
        line-height: 1.15;
        margin-bottom: $spacer * 2;

        .c-news.m-small & {

            font-size: $font-size-large;
        }
    }

        .c-news__title-link {

            color: $color-text-link;
            text-decoration: none;

            &:hover {

                text-decoration: underline;
            }
        }

    .c-news__meta {

        color: $color-text-neutral-dark;
        font-size: $font-size-small;
        position: relative;

        &:after {

            content: '';
            position: absolute;
            top: 50%;
            display: block;
            width: 100%;
            height: 2px;
            margin-top: -2px;
            background: $color-fill-neutral;
        }
    }

        .c-news__meta-date {

            position: relative;
            z-index: 1;
            display: inline-block;
            padding: 0 $spacer 0 0;
            margin: 0;
            background: $color-white;
        }
