.c-placeholder {
    width: 100%;
    padding: $spacer;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px dashed $color-fill-neutral-darker;
    color: $color-fill-black;
    opacity: 0.5;
}
