.c-promo {

    overflow: hidden;
    display: block;

    &.m-sidebar-large {

        max-height: $spacer * 48;
    }

    &.m-sidebar-small {

        max-height: $spacer * 32;
    }

    &.m-footer {

        max-height: $spacer * 12;
    }

    &.m-body {

        max-height: $spacer * 10;
    }

    &.m-margin {

        margin-bottom: $spacer * 2;

        @include respond-to(tablet) {

            margin-bottom: $spacer * 4;
        }
    }

    &.m-small-margin {

        margin-bottom: $spacer;

        @include respond-to(tablet) {

            margin-bottom: $spacer * 2.5;
        }
    }

    iframe {

        display: block;
        max-width: 100%;
    }
}

    .c-promo__link {

        display: block;
    }

        .c-promo__image {

            display: block;
            max-width: 100%;
            margin: 0 auto;
            width: 100%;
        }
