.c-profile {

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    text-decoration: none;
    border-radius: 50%;
    background: $color-fill-neutral;

    &.m-center {

        justify-content: center;
    }

    &.m-mini {

        display: block;
    }

    &.m-full {

        height: 100%;
        width: 100%;
    }

    &.m-status {

        padding: 3px;
    }
}

        .c-profile__status {

        }

        .c-profile__status-title {

            position: absolute;
            display: none;
        }

    .c-profile__image-wrap {

        flex: 0 1 $spacer * 6;

        .c-profile.m-small & {

            flex: 0 1 $spacer * 4;
        }

        .c-profile.m-mini & {

            position: relative;
            display: block;
            width: $spacer * 3;
        }

        .c-profile.m-micro & {

            display: inline-block;
            width: $spacer * 2;
        }

        .c-profile.m-full & {

            @include color-modifiers-dark-and(background);

            display: block;
            flex: none;
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }

        .c-profile__image {

            display: block;
            height: $spacer * 4;
            width: $spacer * 4;
            border-radius: 50%;

            .c-profile.m-mini &,
            .c-profile.m-small & {

                height: $spacer * 3;
                width: $spacer * 3;
            }

            .c-profile.m-micro & {

                height: $spacer * 2;
                width: $spacer * 2;
            }

            .c-profile.m-full & {

                width: 100%;
                height: 100%;
            }
        }

        .c-profile__badge {

            position: absolute;
            bottom: -$spacer / 2;
            right: -$spacer;
            display: none;

            .c-profile.m-mini & {

                display: block;
            }

            .c-profile.m-full & {

                display: none;
            }
        }
