.c-row {

    margin-bottom: 12px;

    &.m-icon {

        position: relative;
        padding-left: 72px;
        margin-bottom: 24px;
    }

    &.m-large {

        margin-bottom: 24px;
    }
}

    .c-row__icon {

        position: absolute;
        left: 0;
        top: 0;
        display: block;
        width: 48px;
        height: 48px;

        svg {

            @include color-modifiers-and(fill);

            height: 100%;
            width: 100%;
        }
    }

    .c-row__title {

        font-size: $font-size-normal;
        line-height: 1.5;

        .c-row.m-icon & {

            font-size: $font-size-large;
            line-height: 1.15;
        }

        .c-row.m-large & {

            font-size: $font-size-large;
            font-weight: $font-weight-bold;
            line-height: 1.15;
        }
    }

        .c-row__title-link {

            @include color-modifiers-and(color);

            color: $color-text-link;
            text-decoration: none;

            &:hover {

                text-decoration: underline;
            }
        }

    .c-row__text {

        color: $color-text-neutral-dark;
        font-size: $font-size-small;

        .c-row.m-icon & {

            font-size: $font-size-normal;
            margin-top: 9px;
        }

        .c-row.m-large & {

            font-size: $font-size-normal;
            margin-top: 9px;
        }
    }
