.c-search {

	&.m-small {

		width: 100%;
		position: relative;

		@include respond-to(tablet) {

			width: 412px;
		}
	}
}

.c-search__form {

	position: relative;
}

    .c-search__form-icon {

        position: absolute;
        top: 50%;
        left: 12px;
        display: block;
        height: 24px;
        width: 24px;
        transform: translateY(-50%);

        @include respond-to(tablet) {

        	left: 20px;
	        height: 48px;
	        width: 48px;
        }

        .c-search.m-small & {

        	left: 12px;
	        height: 24px;
	        width: 24px;
        }

        svg {

			fill: $color-white;

			margin: 3px;
    		width: 18px;
    		height: 18px;

			@include respond-to(tablet) {

				margin: 8px;
	        	width: 32px;
	        	height: 32px;
			}

        	.c-search.m-small & {

				margin: 3px;
        		width: 18px;
        		height: 18px;
        	}
        }

        .c-search.m-active.m-red & {

            svg {

            	fill: $brand-red;
            }
        }

        .c-search.m-active.m-blue & {

            svg {

            	fill: $brand-blue;
            }
        }

        .c-search.m-active.m-green & {

            svg {

            	fill: $brand-green;
            }
        }

        .c-search.m-active.m-orange & {

            svg {

            	fill: $brand-orange;
            }
        }

        .c-search.m-active.m-purple & {

            svg {

            	fill: $brand-purple;
            }
        }

        .c-search.m-active.m-yellow & {

            svg {

            	fill: $brand-yellow;
            }
        }
    }

	.c-search__form-input {

		color: $color-white;
		font-size: $font-size-normal;
		font-weight: $font-weight-medium;
		width: 100%;
		padding: 12px 12px 9px 48px;
		background: rgba($color-white, 0.2);
		border: none;
		box-shadow: 0 18px 48px rgba($shadow-dark, 0.2);

		@include respond-to(tablet) {

			font-size: $font-size-larger;
			padding: 18px 24px 12px 88px;
		}

		.c-search.m-small & {

			font-size: $font-size-normal;
			padding: 9px 12px 6px 48px;
			background: none;
			box-shadow: none;
		}

		&::input-placeholder {

			color: $color-white;
		}

        .c-search.m-active & {

            color: $color-text-black;
            background: $color-white;

            &::input-placeholder {

                color: $color-text-neutral;
            }
        }
	}

.c-search__results {

	position: absolute;
	z-index: 1000;
	display: none;
	width: 100%;
	background: $color-fill-neutral-light;
	border-top: 1px solid $color-fill-neutral;
	box-shadow: 0 18px 48px rgba($shadow-dark, 0.2);

	.c-search.m-active & {

		display: block;
	}
}

	.c-search__results-content {

		overflow: scroll;
		height: 384px;
		padding-bottom: 24px;
	}

		.c-search__results-list {

			@include clear-list;

			position: relative;
			margin: 12px 0 0 0;
			padding: 12px 24px 6px 88px;
			border-bottom: 1px solid $color-fill-neutral;

			.c-search.m-small & {

				margin: 6px 0 0 0;
				padding: 6px 12px 0 48px;
			}

			&:last-child {

				border: none;
			}

			&:before {

				content: '';
				position: absolute;
		        top: 0;
		        left: 20px;
				display: block;
		        height: 48px;
		        width: 48px;

		        .c-search.m-small & {

					left: 12px;
		        	height: 24px;
		        	width: 24px;
		        }
			}
		}

			.c-search__results-list-item {

				font-size: $font-size-tiny;
				font-weight: $font-weight-bold;
				text-transform: uppercase;
				position: relative;

				.c-search.m-red & {

					color: $brand-red;
				}

				.c-search.m-blue & {

					color: $brand-blue;
				}

				.c-search.m-green & {

					color: $brand-green;
				}

				.c-search.m-orange & {

					color: $brand-orange;
				}

				.c-search.m-purple & {

					color: $brand-purple;
				}

				.c-search.m-yellow & {

					color: $brand-yellow;
				}
			}

				.c-search__results-sublist {

					@include clear-list;

					margin-top: 18px;

					.c-search.m-small & {

						margin-top: 12px;
					}
				}

					.c-search__results-sublist-item {

						font-size: $font-size-medium;
						font-weight: $font-weight-medium;
						line-height: 1.5;
						text-transform: none;
						margin-bottom: 6px;

						.c-search.m-small & {

							font-size: $font-size-normal;
						}

						.c-search__results-list.m-forum & {

							margin-bottom: 12px;
						}
					}

						.c-search__results-link {

							color: $color-text-link;
							text-decoration: none;

							.c-search__results-list.m-forum & {

								color: $color-text-black;
								display: flex;
								align-items: center;
							}

							&:hover {

								text-decoration: underline;
							}
						}

							.c-search__results-link-profile {

								flex: 0 1 60px;

								.c-search.m-small & {

									flex: 0 1 36px;
								}
							}

							.c-search__results-link-text {

								font-weight: $font-weight-normal;
								flex: 1;
							}

	.c-search__results-footer {

		position: relative;
		padding: 16px 88px;
		background: $color-white;

		.c-search.m-small & {

			padding: 12px 48px;
		}

		&:before {

			content: '';
			position: absolute;
			top: -54px;
			left: 0;
			display: block;
			width: 100%;
			height: 54px;
			background-image: linear-gradient(to bottom, rgba($color-white, 0), rgba($color-white, 1));
			pointer-events: none;
		}
	}