.c-tags {

    @include clearfix;
    @include clear-list;
    @include font-smoothing;
}

    .c-tags__item {

        @include color-modifiers(background);

        border-radius: 12px;
        display: inline-block;
    }

        .c-tags__item-link {

            @include font-smoothing;

            color: $color-white;
            display: block;
            font-family: $font-primary;
            font-size: $font-size-small;
            font-weight: $font-weight-bold;
            height: 22px;
            line-height: 26px;
            padding: 0 12px;
            text-decoration: none;
        }
