.c-title {

    @include color-modifiers;
    @include font-smoothing;

    font-family: $font-primary;
    font-size: $font-size-small;
    font-weight: $font-weight-bold;
    text-transform: uppercase;

    &.m-small {

        font-size: $font-size-tiny;
    }

    &.m-large {

        font-size: $font-size-large;
        font-weight: $font-weight-bold;
        text-transform: none;
    }
}

    .c-title__link {

        @include color-modifiers-and;

        color: $color-text-link;
        text-decoration: none;

        &:hover {

            text-decoration: underline;
        }
    }
