.component-card {
    background-position: center;
    background-size: cover;
    width: 100%;
    padding-bottom: 66%;

    &.-wide {
        padding-bottom: 15%;
    }

    &.-square {
        padding-bottom: 100%;
    }

    &.-rounded {
        border-radius: $spacer;
    }

    &.-circle {
        border-radius: 50%;
    }

    > .content {
        position: absolute;
        color: white;
        padding: $spacer;
    
    }

    &.-center > .content {

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        word-break: break-word;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;
        letter-spacing: 0.03em;

    }

}