@import "variables";

.background-gray {
    background-color: $gray-lighter;
}

.background-white {
    background-color: $white;
}

.background-cyan {
    background-color: $cyan-dark;
}

.background-yellow {
    background-color: $yellow;
}
