.fadeCollapse-enter-active,
.fadeCollapse-leave-active {
  transition: all 500ms ease;
  opacity: 1;
}

.fadeCollapse-enter,
.fadeCollapse-leave-active {
  opacity: 0;
  transform: translateY(0);
}

.fadeZoom-enter-active,
.fadeZoom-leave-active {
  transition: all 500ms ease;
  opacity: 1;
}

.fadeZoom-enter,
.fadeZoom-leave-active {
  opacity: 0;
  transform: scale(0.7);
}
