@import "variables";

.UserHeader {
    padding-top: $padding-md;
    padding-bottom: $padding-lg;
    background: $cyan-dark;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

    .UserHeader__contentWrapper {
        display: flex;
        display: block ?if $mobile;
        margin: $margin-lg 0 $margin-md 0;
        align-items: center;
    }

    .UserHeader__user {
        margin-right: $margin-md;
        margin-right: 0 ?if $mobile;
        margin-bottom: $margin-md ?if $mobile;
        display: flex;
        justify-content: left;
        justify-content: center ?if $mobile;
    }

    .UserHeader__nameWrapper {
        display: flex;
        justify-content: left;
        justify-content: center ?if $mobile;
        flex-direction: column ?if $mobile;
        align-items: center ?if $mobile;
    }

    .UserHeader__name {
        font: $font-heading-xxl;
        font: $font-heading-xl ?if $mobile;
        color: $white;
    }

    .UserHeader__actionsWithUser {
        margin-top: $margin-sm;
    }

    .UserHeader__meta {
        font: $font-heading-sm;
        line-height: $line-height-md;
        color: $cyan;
        margin-bottom: $margin-md;
    }

    .UserHeader__wanttogo {
        margin-bottom: $margin-md;
    }

    .UserHeader__actionsByUser {
        margin-top: $margin-md;
    }
