@import "variables";

.UserHeader {
    padding-top: $padding-md;
    padding-bottom: $padding-lg;
    background: $cyan-dark;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

    .UserHeader__user {
        margin-bottom: $margin-md;
        display: flex;
        justify-content: left;
        justify-content: center ?if $mobile;
    }

    .UserHeader__nameWrapper {
        display: flex;
        justify-content: left;
        flex-direction: column ?if $mobile;
        justify-content: center ?if $mobile;
        align-items: center ?if $mobile;
        margin-bottom: $margin-md;
    }

    .UserHeader__name {
        font: $font-heading-xxl;
        color: $white;
    }

    .UserHeader__actionsWithUser {
        margin: 0 0 0 $margin-sm;
        margin: $margin-sm 0 $margin-sm 0 ?if $mobile;
    }

    .UserHeader__meta {
        font: $font-heading-sm;
        color: $cyan;
        margin-bottom: $margin-md;
    }

    .UserHeader__wantstogo {
        font: $font-heading-sm;
        color: $white;
        margin-bottom: $margin-md;
    }

    .UserHeader__stats {
        margin-bottom: $margin-md;
    }
