@import "variables";

.Block {
    background: $gray-light;
    padding: $padding-md;
}

.Block--white {
    background: $white;
    padding: 0;
}

    .Block__title {
        font: $font-heading-md;
        margin-bottom: $margin-md;
        color: $green;
    }

    .Block__subtitle {
        font: $font-heading-sm;
        margin-bottom: $margin-sm;
        color: $gray-darkest;
        line-height: $line-height-xxl;
    }

.Block--uppercase .Block__title {
    text-transform: uppercase;
    font: $font-heading-xs;
}

.Block--red .Block__title {
    color: $red;
}
