@import "variables";

.Block {
    background: $gray-light;
    padding: $padding-md;
}

.Block--white {
    background: none;
    padding: 0;
}

    .Block__title {
        color: $green;
        font: $font-heading-md;
        line-height: $line-height-md;
        margin-bottom: $margin-md;
    }

.Block--uppercase .Block__title {
    text-transform: uppercase;
    font: $font-heading-xs;
}

.Block--red .Block__title {
    color: $red;
}

.Block--yellow .Block__title {
    color: $yellow;
}

.Block--dark .Block__title {
    color: $gray-darkest;
}

.Block--border {
    border: $border-gray-md;
    border-radius: $border-radius-md;
    background: none;
}
