.component-row {

    > .row > [class*="col-"] {

        > .content > .title > a > h4,
        > .content > .title > span {

            display: inline-block;
            
        }
        
        > .content > .text {

            display: inline-block;
            opacity: 0.7;
                        
        }

        > .content > .actions {

            display: inline-block;
            
        }
    
    }

    &.-centered > .row > [class*="col-"] {

        display: flex;
        flex-direction: column;
        justify-content: center;

    }

}