.component-subheader {
    
    > .row > [class*="col-"] > .title {

        text-transform: uppercase;
        font-size: $font-size-h5;

    }
    
    &.-orange {

        > .row > [class*="col-"] > .title {

            color: $orange;

        }
    
    }

    &.-cyan {

        > .row > [class*="col-"] > .title {

            color: $cyan;

        }
    
    }

    &.-padding {

        height: $spacer * 2;

        display: flex;
        flex-direction: column;
        justify-content: center; 

    }

}