@import "variables";

.Header {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: $padding-lg;
    padding-top: $padding-md;
}

    .Header__content {
        height: calc($spacer * 15);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Header__title {
        font: $font-heading-xxxl;
        font: $font-heading-xxl ?if $tablet;
        font: $font-heading-xl ?if $mobile;
        color: $white;
    }
