@import "variables";

.FormLink {
    background: none;
    border: none;
    color: $gray;
    cursor: pointer;
    font: $font-text-sm;
    padding-top: $padding-sm;
}

.FormLink--white {
    color: $white;
}
