@import "variables";

.HeaderNavbarMobile {
    display: block;
}

    .HeaderNavbarMobile__menuIcon {
        cursor: pointer;
    }

    .HeaderNavbarMobile__menuIcon svg {
        fill: $gray-darker;
    }

    .HeaderNavbarMobile__menu {
        align-items: center;
        background: $green;
        bottom: 0;
        left: 0;
        padding: $padding-md;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 10000;
    }

    .HeaderNavbarMobile__menuHeader {
        display: flex;
        justify-content: space-between;
    }

    .HeaderNavbarMobile__closeIcon {
        cursor: pointer;
        padding: $padding-lg;
        position: absolute;
        right: 0;
        top: 0;
    }

    .HeaderNavbarMobile__closeIcon svg {
        fill: $white;
    }

        .HeaderNavbarMobile__links {
            padding: $padding-lg;
        }

        .HeaderNavbarMobile__link {
            color: $white;
            font: $font-text-lg;
            text-align: center;
            padding: $padding-sm;
        }

.HeaderNavbarMobile--white .HeaderNavbarMobile__menuIcon svg {
    fill: $white;
}
