@import "variables";

.BlogRow {
    display: flex;
    align-items: center;
    flex-direction: column ?if $mobile;
    text-align: center ?if $mobile;
}

    .BlogRow__user {
        margin-right: $margin-sm;
        margin-bottom: $margin-sm ?if $mobile;
    }

    .BlogRow__title {
        font: $font-heading-lg;
        line-height: $line-height-md;
        color: $gray-darkest;
        margin-bottom: $margin-sm ?if $mobile;
    }
