@import "variables";

.BackgroundMap {
    position: absolute;
    top: calc($spacer * -12);
    right: 0;
    left: calc($spacer * -5);
    bottom: 0;
    pointer-events: none;
    z-index: -1;
    background: $gray-light;
    height: calc($spacer * 1000);
}

    .BackgroundMap__image {
        opacity: $opacity-xxs;
        width: 1000px;
    }

.BackgroundMap--yellow {
    background: $yellow;
}

.BackgroundMap--cyan {
    background: $cyan-dark;
}
