@import "variables";

.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $height-md;
}

    .Navbar__left {
        display: flex;
        align-items: center;
    }

    .Navbar__logo {
        opacity: $opacity-lg;
        margin-right: $margin-sm;
    }

    .Navbar__search {
        display: block;
        display: none ?if $tablet;
    }

    .Navbar__desktop {
        display: block;
        display: none ?if $tablet;
    }

    .Navbar__mobile {
        display: block ?if $tablet;
        display: none;
    }
