@import "variables";

.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $height-md;
}

    .Navbar__search {
        display: block;
        display: none ?if $tablet;
    }

    .Navbar__logo {
        display: block ?if $tablet;
        display: none;
    }

    .Navbar__logo svg {
        fill: $white ?if $tablet;
    }

    .Navbar__desktop {
        display: block;
        display: none ?if $tablet;
    }

    .Navbar__mobile {
        display: block ?if $tablet;
        display: none;
    }
