@import "variables";

.Meta {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    line-height: $line-height-lg;
}

.Meta,
.Meta > * {
    display: inline-block ?if $ie;
}

    .Meta__item {
        margin-right: $margin-xs;
    }

.Meta--large {
    line-height: $line-height-xl;
}
