@import "variables";

.ProfileMasthead {
    padding-top: $padding-md;
    padding-bottom: $padding-md;
    background: $cyan;
}

    .ProfileMasthead__map {
        position: absolute;
        top: calc($spacer * 5);
        right: 0;
        opacity: $opacity-md;
    }

    .ProfileMasthead__profile {
        margin-bottom: $margin-md;
    }

    .ProfileMasthead__name {
        font: $font-heading-xxl;
        color: $white;
        margin-bottom: $margin-md;
    }

    .ProfileMasthead__meta {
        font: $font-heading-sm;
        color: $cyan-dark;
    }
