@import 'variables';

.Flex {
    display: flex;
    display: block ?if $tablet;
}

.Flex__item {
    margin-bottom: $margin-md ?if $tablet;
}

.Flex__item:last-child {
    margin-bottom: 0;
}

.Flex--center {
    justify-content: center;
}

.Flex--center .Flex__item {
    text-align: center ?if $tablet;
}

.Flex--debug .Flex__item {
    border: 1px dashed $red;
}
