.Flex {
  display: flex;
}

.Flex > * {
  margin-right: $margin-md;
  margin-right: var(--gap);
  margin-right: 0 ?if $tablet;
}

.Flex > *:last-child {
  margin-right: 0;
}

.Flex--wrap {
  flex-wrap: wrap;
}

.Flex--responsive {
  flex-direction: column ?if $tablet;
}

.Flex--wrap.Flex--responsive {
  flex-direction: row ?if $tablet;
}

.Flex.Flex--wrap > * {
  margin-right: var(--gap) ?if $tablet;
}

.Flex--responsive > * {
  margin-right: 0 ?if $tablet;
  margin-bottom: $margin-md ?if $tablet;
  margin-bottom: var(--gap) ?if $tablet;
}
.Flex--responsive > *:last-child {
  margin-bottom: 0;
}
