.r-block {

    @include clearfix;

    margin-bottom: $spacer * 2;

    @include respond-to(tablet) {

        margin-bottom: $spacer * 4;
    }

    @include respond-to(desktop) {

        margin-bottom: $spacer * 6;
    }

    &.m-contain {

        overflow: hidden;
    }

    &.m-small {

        @include respond-to(tablet) {

            margin-bottom: $spacer * 2.5;
        }

        &.m-no-mobile-margin {

            @include respond-to(tablet) {

                margin-bottom: $spacer * 2.5;
            }
        }

        &.m-no-margin {

            margin-bottom: 0;

            @include respond-to(tablet) {

                margin-bottom: 0;
            }
        }
    }

    &.m-mobile-hide {

        display: block;

        @include respond-to(tablet) {

            display: block;
        }
    }

    &.m-no-mobile-margin {

        margin-bottom: 0;

        @include respond-to(tablet) {

            margin-bottom: $spacer * 4;
        }

        @include respond-to(desktop) {

            margin-bottom: $spacer * 6;
        }
    }

    &.m-no-margin {

        margin-bottom: 0;

        @include respond-to(tablet) {

            margin-bottom: 0;
        }
    }

    &.m-flex {

        @include respond-to(tablet) {

            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: space-between;
        }

        &:after,
        &:before {

            display: none;
        }
    }
}

    .r-block__inner {

        padding: $spacer * 2;
        background: $color-fill-neutral-light;

        @include respond-to(tablet) {

            padding: $spacer * 3;
        }
    }

    .r-block__header {

        margin-bottom: $spacer * 1.5;

        @include respond-to(tablet) {

            margin-bottom: $spacer * 3;
        }

        .r-block.m-small & {

            @include respond-to(tablet) {

                margin-bottom: $spacer * 1.5;
            }
        }

        &:last-child {

            margin: 0;
        }
    }

        .r-block__header-title {

            margin-bottom: $spacer;

            &:last-child {

                margin: 0;
            }

            &.m-flex {

                @include respond-to(desktop) {

                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
            }
        }

            .r-block__header-link {

                margin-top: $spacer / 2;

                @include respond-to(desktop) {

                    margin-top: -$spacer / 6;
                }
            }

    .r-block__body {

        @include clearfix;

        margin-bottom: $spacer;

        @include respond-to(tablet) {

            margin-bottom: $spacer * 1.5;
        }

        &:last-child {

            margin: 0;
        }
    }

    .r-block__footer {

        @include clearfix;

        padding-top: $spacer;
    }
