.r-block {

    @include clearfix;

    overflow: hidden;
    margin-bottom: $spacer * 2;

    @include respond-to(tablet) {

        margin-bottom: $spacer * 6;
    }

    &.m-small {

        @include respond-to(tablet) {

            margin-bottom: $spacer * 2.5;
        }
    }

    &.m-mobile-hide {

        display: none;

        @include respond-to(tablet) {

            display: block;
        }
    }

    &.m-flex {

        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;

        &:after,
        &:before {

            display: none;
        }
    }
}

    .r-block__inner {

        padding: $spacer * 2;
        background: $color-fill-neutral-light;

        @include respond-to(tablet) {

            padding: $spacer * 3;
        }
    }

    .r-block__header {

        margin-bottom: $spacer * 1.5;

        @include respond-to(tablet) {

            margin-bottom: $spacer * 3;
        }

        .r-block.m-small & {

            @include respond-to(tablet) {

                margin-bottom: $spacer * 1.5;
            }
        }

        &:last-child {

            margin: 0;
        }
    }

        .r-block__header-title {

            margin-bottom: $spacer;

            &:last-child {

                margin: 0;
            }
        }

    .r-block__body {

        overflow: hidden;
        margin-bottom: $spacer;

        @include respond-to(tablet) {

            margin-bottom: $spacer * 1.5;
        }

        &:last-child {

            margin: 0;
        }
    }

    .r-block__footer {

        @include clearfix;

        padding-top: $spacer;
    }
