.r-destination {

    background: $color-fill-neutral-light;
}

    .r-destination__title-block {

        > * {

            display: inline-block;
        }

        &.m-distribute {

            display: flex;
            justify-content: space-between;
            padding: $spacer * 2 - 4 $spacer * 2 $spacer + 2;

            > * {

                flex: 0 0 auto;
            }
        }

        &.m-white {

            background: $color-white;
        }
    }

    .r-destination__masthead {

        position: relative;
    }

    .r-destination__extra {

        position: absolute;
        z-index: 100;
        right: $spacer * 4;
        display: none;

        @include respond-to(tablet) {

            top: $spacer * 22;
            display: block;
        }

        @include respond-to(desktop) {

            top: $spacer * 28;
        }
    }

    .r-destination__about {

        @include color-modifiers(background);

        padding-bottom: $spacer * 2;

        @include respond-to(tablet) {

            padding-bottom: $spacer * 22;
        }

        @include respond-to(desktop) {

            padding-bottom: $spacer * 24;
        }
    }

        .r-destination__about-wrap {

            @include wrap;

            position: relative;

            @include respond-to(tablet) {

                min-height: $spacer * 16.5;
            }
        }

            .r-destination__about-column {

                padding-top: $spacer * 4;

                &.m-first {

                    padding-bottom: $spacer * 2;
                    padding-top: 0;

                    @include respond-to(tablet) {

                        @include span(8 of 28);

                        padding-bottom: 0;
                        margin-top: -$spacer * 4;

                        @each $name, $color, $color-dark in $colors {

                            .r-destination__about.m-#{$name} & {

                                box-shadow: 0 12px 36px $color-dark;
                            }
                        }
                    }
                }

                &.m-last {

                    position: relative;
                    z-index: 3;

                    @include respond-to(tablet) {

                        @include span(8 of 28 at 3);

                        padding-top: $spacer * 4;
                    }
                }
            }

            .r-destination__about-map {

                display: none;
                opacity: 0.2;

                @include respond-to(tablet) {

                    position: absolute;
                    overflow: hidden;
                    z-index: 2;
                    right: 0;
                    top: -$spacer * 5;
                    display: block;
                    width: $spacer * 45;
                }

                @include respond-to(desktop-large) {

                    top: -$spacer * 8;
                    right: -$spacer * 4;
                    width: $spacer * 55;
                }
            }

    .r-destination__content {

        padding-top: $spacer * 2;
        background: $color-white;

        @include respond-to(tablet) {

            margin-top: -$spacer * 20;
            padding-top: 0;
            background: none;
        }
    }

        .r-destination__content-wrap {

            @include wrap;

            background: $color-white;

            &.m-padding {

                @include respond-to(tablet) {

                    padding-bottom: $spacer * 4;
                }

                @include respond-to(desktop) {

                    padding-bottom: $spacer * 4;
                }

                @include respond-to(desktop-medium) {

                    padding-bottom: $spacer * 4;
                }

                @include respond-to(desktop-large) {

                    padding-bottom: $spacer * 4;
                }
            }
        }

            .r-destination__content-title {

                padding-bottom: $spacer * 2;

                @include respond-to(desktop) {

                    padding-bottom: $spacer * 3;
                }

                &.m-flex {

                    @include respond-to(desktop) {

                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                    }
                }
            }

                .r-destination__content-title-link {

                    margin-top: $spacer / 2;

                    @include respond-to(desktop) {

                        margin-top: -$spacer / 6;
                    }
                }

            .r-destination__content-about {

                @include clearfix;

                position: relative;
                z-index: 10;
                padding-bottom: $spacer * 2;

                @include respond-to(desktop) {

                    padding-bottom: $spacer * 4;
                }
            }

                .r-destination__content-about-column {

                    padding-bottom: $spacer * 2;

                    @include respond-to(tablet) {

                        padding-bottom: 0;
                    }

                    &.m-first {

                        display: none;

                        @include respond-to(tablet) {

                            @include span(8 of 28);

                            display: block;
                        }
                    }

                    &.m-middle {

                        @include respond-to(tablet) {

                            @include span(8 of 28 at 3);
                            padding-top: $spacer * 2;
                        }

                        @include respond-to(desktop) {

                            padding-top: $spacer * 4;
                        }
                    }

                    &.m-last {

                        padding-bottom: 0;

                        @include respond-to(tablet) {

                            @include span(6 of 28 at 13);
                            padding-top: $spacer * 2;
                        }

                        @include respond-to(desktop) {

                            padding-top: $spacer * 4;
                        }
                    }
                }

            .r-destination__content-gallery {

                padding-bottom: $spacer * 2;

                @include respond-to(tablet) {

                    padding-bottom: $spacer * 6;
                }
            }

                .r-destination__gallery-title {

                    padding-bottom: $spacer * 2;

                    @include respond-to(tablet) {

                        padding-bottom: $spacer * 3;
                    }
                }

                    .r-destination__gallery-title-wrap {

                        @include respond-to(tablet) {

                            @include wrap('narrow');
                        }
                    }

            .r-destination__content-news {

                @include respond-to(tablet) {

                    padding-bottom: $spacer * 4;
                }
            }

                .r-destination__content-news-wrap {

                    @include respond-to(tablet) {

                        @include wrap('narrow');
                    }
                }

                    .r-destination__content-news-column {

                        &.m-first {

                            padding-bottom: $spacer * 2;

                            @include respond-to(tablet) {

                                @include span(14 of 24);

                                padding-bottom: 0;
                            }
                        }

                        &.m-last {

                            display: none;

                            @include respond-to(tablet) {

                                @include span(8 of 24 at 3);

                                display: block;
                            }
                        }
                    }

                    .r-destination__content-news-block {

                        padding-bottom: $spacer * 2;

                        &:last-of-type {

                            padding-bottom: 0;
                        }
                    }

    .r-destination__flights {

        @include respond-to(tablet) {

            position: relative;
            margin-top: -$spacer * 8;
            padding-bottom: $spacer * 4;
        }
    }

        .r-destination__flights-wrap {

            @include wrap('narrow');
        }

    .r-destination__travelmates {

        padding: $spacer * 2 0 0 0;

        @include respond-to(tablet) {

            padding: $spacer * 2 0;
        }

        @include respond-to(desktop) {

            padding: $spacer * 3 0 $spacer;
        }
    }

        .r-destination__travelmates-wrap {

            @include wrap();

            @include respond-to(tablet) {

                @include wrap('narrow');
            }
        }

    .r-destination__footer-promo {

        display: none;

        @include respond-to(tablet) {

            display: block;
            margin-bottom: -$spacer * 4;
            background: $color-fill-neutral-light;
        }
    }

        .r-destination__footer-promo-wrap {

            @include wrap('narrow');

            position: relative;
            z-index: 2;
        }
