.r-flights {}

    .r-flights__map {

        @include wrap();

        position: relative;
    }

        .r-flights__map-inner {

            position: absolute;
            right: 0;
            top: $spacer * 26;
            display: none;
            width: $spacer * 60;

            @include respond-to(tablet) {

                display: block;
            }

            @include respond-to(desktop-large) {

                right: -$spacer * 4;
            }
        }

    .r-flights__content-wrap {

        @include wrap();

        position: relative;
        z-index: 2;
    }

    .r-flights__content {

        padding-top: $spacer * 4;

        @include respond-to(tablet) {

            @include span(15 of 24);
        }

        .r-flights.m-single & {

            @include respond-to(tablet) {

                @include span(14 of 24);
            }
        }
    }

        .r-flights__content-header {

            margin-bottom: $spacer * 3;
        }

            .r-flights__content-header-title {

                margin-bottom: $spacer * 1.5;
            }

            .r-flights__content-header-meta {

                margin-bottom: $spacer * 1.5;
            }


        .r-flights__content-block {

            margin-bottom: $spacer * 2;

            @include respond-to(tablet) {

                margin-bottom: $spacer * 6;
            }
        }

            .r-flights__content-block-inner {

                padding: $spacer * 1.5 $spacer;
                background: $color-fill-neutral-light;

                @include respond-to(tablet) {

                    padding: $spacer * 3;
                }
            }

            .r-flights__content-title {

                margin-bottom: $spacer * 1.5;

                @include respond-to(tablet) {

                    margin-bottom: $spacer * 3;
                }
            }

            .r-flights__content-footer {

                @include clearfix;

                padding-top: $spacer;
            }

    .r-flights__sidebar {

        @include respond-to(tablet) {

            @include span(7 of 24 at 3);

            padding-top: $spacer * 4;
        }

        .r-flights.m-single & {

            @include respond-to(tablet) {

                @include span(8 of 24 at 3);

                padding-top: $spacer * 26;
            }
        }
    }

        .r-flights__sidebar-block {

            margin-bottom: $spacer * 2;

            @include respond-to(tablet) {

                margin-bottom: $spacer * 2.5;
            }
        }

            .r-flights__sidebar-block-inner {

                padding: $spacer * 1.5 $spacer;
                background: $color-fill-neutral-light;

                @include respond-to(tablet) {

                    padding: $spacer * 3;
                }
            }

            .r-flights__sidebar-title {

                margin-bottom: $spacer * 1.5;
            }


    .r-flights__forum {

        padding: $spacer * 4 0;
        background: $color-fill-neutral-light;

        @include respond-to(tablet) {

            padding: $spacer * 4 0 $spacer * 12;
        }
    }

        .r-flights__forum-wrap {

            @include wrap();
        }

            .r-flights__forum-title {

                padding-bottom: $spacer * 2;

                @include respond-to(tablet) {

                    padding-bottom: $spacer * 3;
                }
            }

            .r-flights__forum-column {

                &.m-first {

                    padding-bottom: $spacer * 4;

                    @include respond-to(tablet) {

                        @include span(4 of 24);

                        padding-bottom: 0;
                    }
                }

                &.m-last {

                    @include respond-to(tablet) {

                        @include span(18.5 of 24 at 2.5);
                    }
                }
            }

    .r-flights__footer-promo {

        background: $color-fill-neutral-light;
        margin-bottom: -$spacer * 4;
    }

        .r-flights__footer-promo-wrap {

            @include wrap('narrow');
            position: relative;
            z-index: 2;
        }

    .r-flights__offers {

        margin-bottom: -$spacer * 8;
    }

        .r-flights__offers-wrap {

            @include wrap('narrow');
        }

    .r-flights__travel-mates {

        padding-bottom: $spacer * 6;
        padding-top: $spacer * 12;
        background: $color-fill-neutral-light;
    }

        .r-flights__travel-mates-wrap {

            @include wrap('narrow');
        }
