.r-forum {}

    .r-forum__masthead {

        .r-forum.m-single & {

            position: relative;
        }
    }

    .r-forum__map {

        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        display: block;
        height: 100%;
        width: 50%;
    }

        .r-forum__map-inner {

            position: absolute;
            top: -40%;
            left: -40%;
            width: 150%;
            height: 150%;
        }

    .r-forum__content-wrap {

        position: relative;
        z-index: 10;
        background: $color-white;
    }

    .r-forum__wrap {

        @include wrap('narrow');

        .r-forum.m-single & {

            @include respond-to(tablet) {

                position: relative;
                z-index: 100;
                margin-top: -$spacer * 12;
            }

            @include respond-to(desktop) {

                margin-top: -$spacer * 20;
            }
        }

        &.m-small {

            @include respond-to(tablet) {

                padding-left: span(2 of 24);
                padding-right: span(2 of 24);
            }
        }
    }

    .r-forum__content {

        padding-top: $spacer * 4;

        @include respond-to(tablet) {

            @include span(15 of 24);
        }

        .r-forum.m-single & {

            @include respond-to(tablet) {

                @include span(14 of 24);

                padding-top: 0;
            }
        }

        .r-forum__wrap.m-small & {

            padding-top: $spacer * 2;

            @include respond-to(tablet) {

                @include span(10 of 20);

                padding-top: $spacer * 5;
            }
        }
    }

    .r-forum__sidebar {

        padding-top: $spacer * 4;

        @include respond-to(tablet) {

            @include span(7 of 24 at 3);
        }

        .r-forum.m-single & {

            @include respond-to(tablet) {

                @include span(8 of 24 at 3);

                padding-top: 0;
            }
        }

        .r-forum__wrap.m-small & {

            padding-top: 0;

            @include respond-to(tablet) {

                @include span(8 of 20 at 3);

                padding-top: $spacer * 5;
            }
        }
    }

    .r-forum__additional {

        @include clearfix;

        padding: $spacer * 4 0 $spacer * 2;
        background: $color-fill-neutral-light;
    }

        .r-forum__additional-wrap {

            @include wrap('narrow');
        }

            .r-forum__additional-column {

                &.m-first {

                    padding-bottom: 48

                    0px;

                    @include respond-to(tablet) {

                        @include span(4 of 24);

                        padding-bottom: 0;
                    }
                }

                &.m-last {

                    @include respond-to(tablet) {

                        @include span(18.5 of 24 at 2.5);
                    }
                }
            }

    .r-forum__footer-promo {

        display: none;

        @include respond-to(tablet) {

            display: block;
            margin-bottom: -$spacer * 4;
            background: $color-fill-neutral-light;
        }

        &.m-white {

            background: $color-white;
        }
    }

        .r-forum__footer-promo-wrap {

            @include wrap('narrow');
            position: relative;
            z-index: 2;
        }
