.r-travelmates {}

    .r-travelmates__masthead {}

    .r-travelmates__wrap {

        @include wrap();

        &.m-small {

            padding-left: span(2 of 24);
            padding-right: span(2 of 24);
        }
    }

    .r-travelmates__filter {

        padding-top: $spacer * 4;
    }

    .r-travelmates__content {

        padding-top: $spacer * 2;

        @include respond-to(tablet) {

            @include span(16 of 24);
            padding-left: span(1 of 16);
            padding-top: $spacer * 2;
        }

        @include respond-to(desktop) {

            padding-left: 0;
        }

        .r-travelmates__wrap.m-small & {

            padding-top: $spacer * 4;

            @include respond-to(tablet) {

                @include span(10 of 20);
                padding-top: $spacer * 5;
            }
        }

        .r-travelmates.m-single & {

            @include respond-to(tablet) {

                @include span(14 of 24);
                padding-top: $spacer * 4;
            }
        }
    }

        .r-travelmates__title {

            font-size: $font-size-largest;
            font-weight: $font-weight-bold;
            line-height: 1.125;
            margin-bottom: $spacer * 2;

            @include respond-to(tablet) {

                font-size: $font-size-huge / 2;
            }
        }

        .r-travelmates__meta {

            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: $spacer * 2;

            @include respond-to(tablet) {

                margin-bottom: $spacer * 3;
            }
        }

            .r-travelmates__meta-date {

                font-size: $font-size-small;
                color: $color-fill-neutral-darker;
            }


    .r-travelmates__sidebar {

        padding-top: $spacer * 2;

        @include respond-to(tablet) {

            @include span(7 of 24 at 2);
        }

        .r-travelmates__wrap.m-small & {

            padding-top: $spacer * 4;

            @include respond-to(tablet) {

                @include span(8 of 20 at 3);
                padding-top: $spacer * 5;
            }
        }

        .r-travelmates.m-single & {

            &.m-first {

                @include respond-to(tablet) {

                    padding-top: 0;
                }
            }

            @include respond-to(tablet) {

                @include span(8 of 24 at 3);
            }
        }
    }

    .r-travelmates__offers {}

        .r-travelmates__offers-wrap {

            @include wrap();

            margin-bottom: -$spacer * 4;
        }

    .r-travelmates__additional {

        padding: $spacer * 10 0 $spacer * 2;
        background: $color-fill-neutral-light;
    }

        .r-travelmates__additional-wrap {

            @include wrap();
        }

    .r-travelmates__footer-promo {

        margin-bottom: -48px;

        .r-travelmates.m-single & {

            background: $color-fill-neutral-light;
        }
    }

        .r-travelmates__footer-promo-wrap {

            @include wrap();
            position: relative;
            z-index: 2;
        }
