.r-user {

    background: $color-fill-neutral-light;
}

.r-user__header {

    @include color-modifiers-and(background);
    overflow: hidden;
}

.r-user__masthead {

    @include color-modifiers-dark(background);
}

.r-user__info {

    position: relative;
    padding-bottom: $spacer * 4;
}

    .r-user__map {

        position: absolute;
        top: -$spacer * 32;
        z-index: 1;
        opacity: 0.3;
        display: none;

        @include respond-to(tablet) {

            right: 10%;
            top: 0;
            width: 80%;
            display: block;
        }

        @include respond-to(desktop) {

            @include wrap('narrow');
            right: 0;
            width: 100%;
        }

        @include respond-to(desktop-large) {

            right: 40%;
            margin-right: -$spacer * 46;
        }
    }

    .r-user__info-wrap {

        @include wrap('narrow');

        position: relative;
        z-index: 2;
    }

        .r-user__info-image {

            position: relative;
            margin-top: -$spacer * 7;
            margin-bottom: $spacer * 2;
            z-index: 2;
            display: block;
            width: $spacer * 14;
            height: $spacer * 14;
            border-radius: 50%;

            @include respond-to(tablet) {

                margin-top: -$spacer * 8.5;
                margin-bottom: $spacer * 5;
                width: $spacer * 17;
                height: $spacer * 17;
            }

            img {

                display: block;
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }

            .r-user__info-level {

                position: absolute;
                z-index: 30;
                bottom: -$spacer;
                left: 50%;
                display: none;
                transform: translateX(-50%);

                @include respond-to(tablet) {

                    display: block;
                }
            }

            .r-user__info-travel-mate {

                display: none;
                position: absolute;
                top: -$spacer * 3;
                left: $spacer * 2;

                @include respond-to(tablet) {

                    top: $spacer * 2;
                    left: $spacer * 12;
                }
            }

        .r-user__info-heading {

            display: flex;
            align-items: center;
            margin-bottom: $spacer * 2;
        }

            .r-user__info-title {

                width: 100%;
            }

                .r-user__info-title-wrap {

                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    margin-bottom: $spacer * 1.5;

                    @include respond-to(tablet) {

                        margin-bottom: $spacer * 2;
                    }
                }

            .r-user__info-status {

                text-align: center;
                display: none;

                @include respond-to(tablet) {

                    display: block;
                }
            }

                .r-user__info-status-icon {

                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    height: $spacer * 6.5;
                    width: $spacer * 6.5;
                    background: $color-white;
                    border-radius: 50%;

                    svg {

                        height: $spacer * 5;
                        width: $spacer * 5;
                    }
                }

                .r-user__info-status-text {

                    position: relative;
                    top: -$spacer;
                }

        .r-user__info-description {

            color: $color-white;

            @include respond-to(tablet) {

                @include span(12 of 24);
            }
        }

        .r-user__info-extra {

            @include respond-to(tablet) {

                position: absolute;
                z-index: 10;
                right: span(2);
                bottom: 0;
                display: block;
            }

            @include respond-to(desktop) {

                right: $container-desktop / 28 * 2;
            }

            @include respond-to(desktop-medium) {

                right: $container-desktop-medium / 28 * 2;
            }

            @include respond-to(desktop-large) {

                right: $container-desktop-large / 28 * 2;
            }
        }

    .r-user__admin {

        @include color-modifiers-dark-and(background);

        padding: $spacer * 2 0;
    }

        .r-user__admin-wrap {

            @include wrap('narrow');
        }

    .r-user__gallery {

        padding-bottom: $spacer;
    }

        .r-user__gallery-wrap {

            @include wrap();
            @include color-modifiers-dark-and(background);
        }

    .r-user__additional {

        padding: $spacer * 4 0;
    }

        .r-user__additional-wrap {

            @include wrap('narrow');
        }

            .r-user__additional-content {

                @include respond-to(tablet) {

                    @include span(14 of 24);
                }
            }

            .r-user__additional-sidebar {

                @include respond-to(tablet) {

                    @include span(8 of 24 at 3);
                }
            }

            .r-user__additional-block {

                margin-bottom: $spacer * 2.5;
            }

            .r-user__additional-header {

                display: flex;
                align-items: center;
                margin-bottom: $spacer * 2;
            }

                .r-user__additional-title {

                    flex: 1;
                }

                .r-user__additional-action {

                }

    .r-user__offers {

        margin-bottom: $spacer * 4;
    }

        .r-user__offers-wrap {

            @include wrap('narrow');
        }

    .r-user__footer-promo {

        display: none;

        @include respond-to(tablet) {

            position: relative;
            z-index: 2;
            display: block;
            margin-bottom: -$spacer * 4;
        }
    }

        .r-user__footer-promo-wrap {

            @include wrap('narrow');
        }
