@import "variables";

.FlightCard {
    background-repeat: no-repeat;
    background-size: cover;
    height: 0;
    max-width: 100%;
    overflow: hidden;
    padding-bottom: 58%;
    position: relative;
}

    .FlightCard__wrapper {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        padding: $padding-md;
    }

    .FlightCard__title {
        color: $white;
        font: $font-heading-lg;
        line-height: $line-height-md;
        text-align: center;
        text-shadow: $text-shadow;
    }
