@import "variables";

.BlockTitle {
    display: flex;
    align-items: center;
}

    .BlockTitle__title {
        color: $green;
        font: $font-heading-xs;
        text-transform: uppercase;
    }

    a .BlockTitle__title:hover {
        color: $green-hover;
    }

    .BlockTitle__link {
        margin-left: $margin-xs;
    }

.BlockTitle--yellow .BlockTitle__title {
    color: $yellow;
}

.BlockTitle--yellow a .BlockTitle__title:hover {
    color: $yellow-hover;
}

.BlockTitle--cyan .BlockTitle__title {
    color: $cyan;
}

.BlockTitle--cyan a .BlockTitle__title:hover {
    color: $cyan-hover;
}
