@import "variables";

.TravelmateCard {
	display: flex;
    margin-right: $margin-md;
}

	.TravelmateCard__user {
		margin-right: $margin-sm;
	}

    .TravelmateCard__title {
    	color: $gray-dark;
    	font: $font-heading-md;
    	line-height: $line-height-md;
    }
