@import "variables";

.TravelmateCard {
	display: flex;
	background-color: $gray-lighter;
}

	.TravelmateCard__info {
		margin-left: $margin-sm;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}

	    .TravelmateCard__user {
	    	font: $font-heading-sm;
	    	color: $gray-darker;
	    	margin-bottom: $margin-sm;
	    }

	    .TravelmateCard__title {
	    	font: $font-heading-md;
	    	color: $gray-darkest;
	    	padding-bottom: $padding-sm;
	    }

	.TravelmateCard__info:hover > .TravelmateCard__title {
		text-decoration: underline;
	}
