@import "variables";

.NewsHeader {
    background-repeat: no-repeat;
    background-size: cover;
    padding: $padding-md 0;
}

    .NewsHeader__content {
        margin-top: calc($spacer * 25);
        margin-top: calc($spacer * 15) ?if $mobile;
    }

    .NewsHeader__title {
        color: $white;
        font: $font-heading-lg ?if $mobile;
        font: $font-heading-xl;
        line-height: $line-height-lg ?if $mobile;
        line-height: $line-height-lg;
        margin-bottom: $margin-sm;
        margin-right: $margin-xxxl;
        margin-right: 0 ?if $mobile;
        text-shadow: $text-shadow;
    }
