@import "variables";

.NewsHeader {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: $padding-md 0;
}

    .NewsHeader__content {
        margin-top: calc($spacer * 25);
        margin-top: calc($spacer * 15) ?if $mobile;
    }

    .NewsHeader__title {
        color: $white;
        font: $font-heading-xl;
        font: $font-heading-lg ?if $mobile;
        line-height: $line-height-md;
        line-height: $line-height-lg ?if $mobile;
        margin-bottom: $margin-sm;
        text-shadow: $text-shadow-md;
    }
