@import "variables";

.StatCard {
    display: flex;
    align-items: center;
}

    .StatCard__icon {
        margin-right: $margin-sm;
    }

    .StatCard__title {
        font: $font-heading-md;
        color: $white;
        line-height: $line-height-md;
    }

