.SearchRow {
    width: 100%;
    float: left;
    border-bottom: 1px solid $gray-light;
    padding: calc($spacer * 2) 0;
    margin: 0 0 $spacer;
}

.SearchRow:last-child {
    border-bottom: 0;
}

.SearchRow__header {
    width: 100%;
    float: left;
}

.SearchRow__title {
    float: left;
    width: auto;
    font-size: $font-size-lg;
    font-weight: $font-weight-semibold;
    position: relative;
    top: -4px;
}

.SearchRow__badge {
    float: left;
    width: auto;
    margin-left: $spacer;
    background: $red;
    color: $white;
    height: 22px;
    padding: 0 $padding-xs;
    border-radius: 20px;
    min-width: 26px;
    line-height: 26px;
    font-size: $font-size-sm;
    text-align: center;
    position: relative;
    top: -2px;
    font-weight: $font-weight-semibold;
}

.SearchRow__date {
    float: right;
    color: $gray;
    font-size: $font-size-sm;
}

.SearchRow__main {
    width: 100%;
    float: left;
    margin-top: $spacer;
}

.SearchRow__image {
    display: block;
    float: left;
    height: 28px;
    width: 28px;
    border-radius: 50%;
}

.SearchRow__image_alt {
    width: 96px;
    height: 65px;
    display: block;
    float: left;
}

.SearchRow__image + .SearchRow__body,
.SearchRow__image + .SearchRow__title {
    margin-left: calc($spacer * 3.5);
    float: none;
    display: block;
}

.SearchRow__image + .SearchRow__title {
    margin-top: calc($spacer / 2);
}

.SearchRow__image_alt + .SearchRow__body,
.SearchRow__image_alt + .SearchRow__title {
    margin-left: calc($spacer * 10);
    float: none;
    display: block;
}

.SearchRow__body {
    display: block;
    color: $gray;
    font-size: $font-size-sm;
    line-height: $line-height-lg;
}
