@import "variables";

    .Grid__row {
        display: flex;
        display: block ?if $tablet;
    }

    .Grid__item {
        --flex: 1;
    }

    .Grid__row .Grid__item:last-child {
        display: none ?if $tablet-large;
    }

    .Grid--gutter .Grid__row {
        margin-bottom: $margin-sm;
    }

    .Grid--gutter .Grid__row:last-child {
        margin-bottom: 0;
    }

    .Grid--gutter .Grid__item {
        margin-right: $margin-sm;
        margin-right: 0 ?if $tablet;
    }

    .Grid--gutter .Grid__item:last-child {
        margin-right: 0;
    }