@import "variables";

    .FormTextfield__label {
        color: $gray;
        display: block;
        font: $font-heading-sm;
        line-height: $line-height-md;
        margin-bottom: $margin-sm;
    }

    .FormTextfield__input {
        border-radius: $border-radius-md;
        border: $border-gray-md;
        color: $gray-dark;
        font: $font-text-md;
        padding: $padding-sm;
        width: 100%;
    }

    .FormTextfield__input::placeholder {
        color: $gray-light;
    }

.FormTextfield--large .FormTextfield__input {
    font: $font-heading-md;
    padding: $padding-sm;
}
