@import "variables";

    .ExperimentalFont__label {
        font-family: monospace;
        margin-bottom: $margin-sm;
        color: $gray;
    }

    .ExperimentalFont__text:hover {
        background: yellow;
    }

    .ExperimentalFont__text {
        margin-bottom: $margin-lg;
    }

    .ExperimentalFont__textxs {
        font: $font-text-xs;
    }

    .ExperimentalFont__textsm {
        font: $font-text-sm;
    }

    .ExperimentalFont__textmd {
        font: $font-text-md;
    }

    .ExperimentalFont__textlg {
        font: $font-text-lg;
    }

    .ExperimentalFont__heading {
        margin-bottom: $margin-lg;
    }

    .ExperimentalFont__heading:hover {
        background: yellow;
    }

    .ExperimentalFont__headingxs {
        font: $font-heading-xs;
    }

    .ExperimentalFont__headingsm {
        font: $font-heading-sm;
    }

    .ExperimentalFont__headingmd {
        font: $font-heading-md;
    }

    .ExperimentalFont__headinglg {
        font: $font-heading-lg;
    }

    .ExperimentalFont__headingxl {
        font: $font-heading-xl;
    }

    .ExperimentalFont__headingxxl {
        font: $font-heading-xxl;
    }

    .ExperimentalFont__headingxxxl {
        font: $font-heading-xxxl;
    }

    .ExperimentalFont__button {
        border: 1px solid black;
        border-radius: 100px;
        padding: 0 0.5em;
    }
