@import "variables";

    .FormTextarea__label {
        color: $gray;
        display: block;
        font: $font-heading-sm;
        margin-bottom: $margin-sm;
    }

    .FormTextarea__textarea {
        border-radius: $border-radius-md;
        border: $border-gray-md;
        font: $font-text-md;
        padding: $padding-sm;
        width: 100%;
        line-height: $line-height-md;
        color: $gray-dark;
    }

    .FormTextarea__textarea::placeholder {
        color: $gray-light;
    }

.FormTextarea--borderless .FormTextarea__textarea {
    border: none;
}
