$spacer: 12px;

$blue: hsl(205, 82%, 57%);
$blue-hover: hsl(205, 82%, 47%);
$cyan-lighter: hsl(189, 46%, 92%);
$cyan-light: hsl(190, 73%, 80%);
$cyan: hsl(190, 73%, 59%);
$cyan-hover: hsl(190, 73%, 49%);
$cyan-dark: hsl(193, 100%, 34%);
$green-dark: #288f18;
$green: hsl(105, 52%, 58%);
$green-hover: hsl(105, 52%, 48%);
$orange-light: hsl(29, 100%, 82%);
$orange: hsl(29, 100%, 62%);
$orange-hover: hsl(29, 100%, 52%);
$orange-dark: hsl(29, 100%, 48%);
$purple: hsl(245, 51%, 68%);
$purple-dark: hsl(245, 49%, 52%);
$red: hsl(0, 79%, 66%);
$red-hover: hsl(0, 79%, 56%);
$red-dark: hsl(0, 56%, 54%);
$red-darker: hsl(0, 53%, 45%);
$yellow-light: hsl(45, 100%, 68%);
$yellow: hsl(45, 100%, 48%);
$yellow-hover: hsl(45, 100%, 38%);
$yellow-dark: hsl(35, 100%, 32%);
$pink-light: hsl(7, 100%, 96%);
$pink: hsl(7, 72%, 89%);
$pink-dark: hsl(7, 15%, 57%);
$white: #ffffff;
$white-hover: hsla(0, 0%, 100%, 0.9);
$gray-lighter: hsl(204, 6%, 95%);
$gray-lighter-hover: hsl(204, 6%, 75%);
$gray-light: hsl(204, 6%, 83%);
$gray-light-hover: hsl(204, 6%, 73%);
$gray: hsl(204, 6%, 45%);
$gray-hover: hsl(204, 6%, 35%);
$gray-dark: hsl(204, 6%, 35%);
$gray-dark-hover: hsl(204, 6%, 20%);
$gray-darker: hsl(204, 6%, 25%);
$gray-darker-hover: hsl(204, 6%, 15%);

$font-family-sailec: Sailec, sans-serif;

$opacity-xxs: 0.05;
$opacity-xs: 0.1;
$opacity-sm: 0.3;
$opacity-md: 0.5;
$opacity-lg: 0.7;
$opacity-xl: 0.9;

$font-size-xs: 13px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 19px;
$font-size-xl: 21px;
$font-size-xxl: 30px;
$font-size-xxxl: 48px;
$font-size-xxxxl: 64px;

$font-heading-xs: 600 14px / 145% Sailec, sans-serif;
$font-heading-sm: 600 16px / 145% Sailec, sans-serif;
$font-heading-md: 600 19px / 145% Sailec, sans-serif;
$font-heading-lg: 600 21px / 135% Sailec, sans-serif;
$font-heading-xl: bold 30px / 120% Sailec, sans-serif;
$font-heading-xxl: bold 48px / 100% Sailec, sans-serif;
$font-heading-xxxl: bold 64px / 100% Sailec, sans-serif;

$font-text-xs: normal 13px / 145% Sailec, sans-serif;
$font-text-sm: normal 14px / 145% Sailec, sans-serif;
$font-text-md: normal 16px / 145% Sailec, sans-serif;
$font-text-lg: normal 19px / 145% Sailec, sans-serif;

$line-height-xs: 100%;
$line-height-sm: 120%;
$line-height-md: 135%;
$line-height-lg: 150%;
$line-height-xl: 200%;
$line-height-xxl: 220%;

$border-radius-md: 3px;
$border-radius-lg: $spacer;
$border-radius-xl: calc(#{$spacer} * 1.5);
$border-radius-xxl: calc(#{$spacer} * 100);

$border-gray-md: 2px solid  hsl(204, 6%, 83%);
$border-dotted-gray-md: 2px dotted hsl(204, 6%, 83%);

$padding-xxxs: calc(#{$spacer} / 4);
$padding-xxs: calc(#{$spacer} / 3);
$padding-xs: calc(#{$spacer} / 2);
$padding-sm: $spacer;
$padding-md: calc(#{$spacer} * 2);
$padding-lg: calc(#{$spacer} * 3);
$padding-xl: calc(#{$spacer} * 5);
$padding-xxl: calc(#{$spacer} * 7);
$padding-xxxl: calc(#{$spacer} * 16);

$margin-xxxs: calc(#{$spacer} / 4);
$margin-xxs: calc(#{$spacer} / 3);
$margin-xs: calc(#{$spacer} / 2);
$margin-sm: $spacer;
$margin-md: calc(#{$spacer} * 2);
$margin-lg: calc(#{$spacer} * 3);
$margin-xl: calc(#{$spacer} * 5);
$margin-xxl: calc(#{$spacer} * 7);
$margin-xxxl: calc(#{$spacer} * 16);

$width-xxs: calc(#{$spacer} / 2);
$width-xs: $spacer;
$width-sm: calc(#{$spacer} * 2);
$width-md: calc(#{$spacer} * 4);
$width-lg: calc(#{$spacer} * 6);
$width-xl: calc(#{$spacer} * 12);
$width-xxl: calc(#{$spacer} * 15);
$width-xxxl: calc(#{$spacer} * 24);
$width-xxxxl: calc(#{$spacer} * 32);

$height-xxs: calc(#{$spacer} / 2);
$height-xs: $spacer;
$height-sm: calc(#{$spacer} * 2);
$height-md: calc(#{$spacer} * 4);
$height-lg: calc(#{$spacer} * 6);
$height-xl: calc(#{$spacer} * 12);
$height-xxl: calc(#{$spacer} * 15);
$height-xxxl: calc(#{$spacer} * 24);
$height-xxxxl: calc(#{$spacer} * 32);