.c-forum-list-nav {

    @include clear-list;
}

    .c-forum-list-nav__item {

        margin-bottom: $spacer;
        padding-left: 0;

        &::before {

            content: normal;
            position: static;
        }

        &.m-button {

            margin-bottom: $spacer;
        }

        &.active .c-forum-list-nav__item-link {

            opacity: 0.6;
        }
    }

        .c-forum-list-nav__item-link {

            color: $color-text-link;
            font-size: $font-size-medium;
            font-weight: $font-weight-bold;
            text-decoration: none;

            &:hover {

                text-decoration: underline;
            }

            @include respond-to(desktop) {

                font-size: $font-size-large;
            }
        }

            .c-forum-list-nav__item-icon {

                display: inline-block;
                width: $spacer * 1.5;
                height: $spacer * 1.5;
                margin-left: $spacer * 0.75;

                svg {

                    fill: $color-fill-neutral;
                }
            }
