.c-forum-post {

    margin: 0 0 $spacer * 2 $spacer * 1.5;
    background: $color-white;
    border-radius: 3px;
    border: 2px solid $color-fill-neutral;

    &:last-child {

        margin-bottom: 0;
    }

    &.m-unpublished {

        background: rgba(255, 0, 0, 0.1);
        opacity: 0.6;
    }
}

    .c-forum-post__title {

        font-size: $font-size-medium;
        font-weight: $font-weight-bold;
        line-height: 1.15;
        padding: $spacer * 1.5 $spacer * 1.5 0 $spacer * 2;

        @include respond-to(tablet) {

            font-size: $font-size-largest + 6;
            padding: $spacer * 3 $spacer * 4 0;
        }
    }

    .c-forum-post__content {

        position: relative;
        padding: $spacer * 2.5 $spacer * 1.5 $spacer * 1.5 $spacer * 2;

        @include respond-to(tablet) {

            padding: $spacer * 3 $spacer * 4;
        }
    }

        .c-forum-post__profile {

            position: absolute;
            left: -$spacer * 2;
            top: $spacer * 1.5;
            width: $spacer * 3;
            height: $spacer * 3;

            @include respond-to(tablet) {

                top: $spacer * 2;
                width: $spacer * 4;
                height: $spacer * 4;
            }

           .c-forum-post.m-main & {

                @include respond-to(tablet) {

                    top: $spacer + 3;
                    left: -$spacer * 2.5;
                    width: $spacer * 5;
                    height: $spacer * 5;
                }
            }
        }

        .c-forum-post__meta {

            color: $color-text-neutral-darker;
            font-size: $font-size-small;
            font-weight: $font-weight-bold;
            margin-bottom: $spacer;

            @include respond-to(tablet) {

                display: flex;
                align-items: center;
                margin-bottom: $spacer * 2;
            }
        }

            .c-forum-post__name {

                margin-bottom: $spacer / 2;

                @include respond-to(tablet) {

                    margin-bottom: 0;
                }
            }

            .c-forum-post__date {

                font-weight: $font-weight-medium;

                @include respond-to(tablet) {

                    margin-left: $spacer;
                }

                span {

                    font-weight: $font-weight-normal;
                    padding-left: $spacer;
                }
            }

        .c-forum-post__body {

            overflow: hidden;
        }

        .c-forum-post__actions {

            position: relative;
            padding-top: $spacer * 1.5;
        }

        .c-forum-post__footer {

            @include clearfix;

            padding-top: $spacer * 1.5;

            &.m-right {

                text-align: right;
            }

            &.m-flex {

                // display: flex;
                // width: 100%;
                // align-items: center;
                // justify-content: flex-end;
            }
        }

            .c-forum-post__tags {

                float: left;
                max-width: 50%;
            }

            .c-forum-post__thumbs {

                margin-left: auto;
            }
