.c-forum-list {

    @include clearfix;
    @include clear-list;
}

    .c-forum-list__item {

        display: flex;
        flex-flow: row wrap;
        align-items: center;
        padding: $spacer * 0.75 $spacer;
        margin-bottom: $spacer / 2;
        border-left: 2px solid $color-fill-neutral;

        &::before {

            content: normal;
            position: static;
        }

        @include respond-to(tablet) {

            padding: $spacer * 0.75 $spacer * 2;
        }

        &:nth-child(even) {

            background: $color-fill-neutral-lightest;
            box-shadow: 0 1px 0 rgba($color-fill-neutral, 0.75);
        }

        &:last-child {

            margin-bottom: 0;
        }

        .c-forum-list.m-compact & {

            padding: 0;
            margin-bottom: $spacer;
            border: none;

            &:nth-child(even) {

                background: none;
                box-shadow: none;
            }
        }
    }

        .c-forum-list__item-link {

            text-decoration: none;
            display: flex;
            align-items: center;
            width: 100%;

            @include respond-to(tablet) {

                flex: 2;
            }

            &:hover {

                color: inherit;
                text-decoration: none;
            }

            .c-forum-list.m-compact & {

                flex: none;
            }
        }

        .c-forum-list__item-content {

            display: flex;
            align-items: center;
            width: 100%;

            @include respond-to(tablet) {

                flex: 2;
            }
        }

            .c-forum-list__item-profile {

                padding-right: $spacer * 2;
            }

            .c-forum-list__item-info {

                flex: 1;
                overflow: hidden;
            }

                .c-forum-list__item-topic {

                    color: $color-text-black;
                    font-weight: $font-weight-medium;
                    font-size: $font-size-normal;
                    line-height: 1.15;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;

                    @include respond-to(tablet) {

                        font-size: $font-size-medium;
                    }

                    .c-forum-list.m-compact & {

                        font-size: $font-size-normal;
                    }

                    .c-forum-list__item-link:hover & {

                        text-decoration: underline;
                    }
                }

                .c-forum-list__date {

                    font-size: $font-size-small;
                    text-decoration: none;
                    color: $color-text-gray;
                    display: block;
                    margin-top: 6px;

                    .c-forum-list__item-link:hover & {

                        text-decoration: none;
                    }
                }

        .c-forum-list__item-tags {

            display: block;
            padding: $spacer * 1.5 0 0 0;

            @include respond-to(tablet) {

                text-align: right;
                flex: 1;
                padding: 0;
            }

            .c-forum-list.m-compact & {

                display: none;
            }
        }

        .c-forum-list__sublist {

            @include clearfix;
            @include clear-list;

            width: 100%;
        }

            .c-forum-list__sublist-item {

                padding: $spacer * 2;
                margin-bottom: 0;

                &::before {

                    content: normal;
                    position: static;
                }

                @include respond-to(tablet) {

                    padding: $spacer * 2 $spacer * 4;
                }
            }
