.component-number {
    
    width: 100%;
    padding-bottom: 100%;
    position: relative;
    line-height: 0;

    > .content {

        display: flex;
        justify-content: center;
        align-items: center;

        position: absolute;
        border-radius: 50%;

        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        > .number {

            font-size: $font-size-h4;
            font-family: $headings-font-family;
            font-weight: $headings-font-weight;
            color: black;

        }
    
    }

    &.-good {

        .content {

            background: green;
        
        }

        .content > .number {

            color: white;

        }
    
    }

    &.-bad {

        .content {

            background: red;

        }

        .content > .number {

            color: white;
            
        }
    
    }

    &.-neutral {

        .content {

            background: #eee;
        
        }

        .content > .number {

            color: white;
            
        }

    }

    &.-orange {

        .content {

            background: $orange;
        
        }

        .content > .number {

            color: white;
            
        }

    }

    &.-small {

        > .content > .number {

            font-size: $font-size-h5;

        }
    
    }


}