@import "variables";

.ForumItem {
    display: flex;
}

    .ForumItem__left {
        display: flex;
        align-items: center;
        padding-right: $padding-md;
        display: none ?if $mobile;
    }

    .ForumItem__right {
        display: flex;
        align-items: center;
    }

    .ForumItem__title {
        font: $font-heading-md;
    }

    .ForumItem__meta {
        margin: $margin-bottom-xs;
    }

