@import "variables";

.FormRadio {
    display: flex;
}

    .FormRadio__option {
        display: flex;
        margin-right: $margin-sm;
    }

    .FormRadio__option:last-child {
        margin-right: 0;
    }

    .FormRadio__input {
        display: block;
        margin-right: $margin-xs;
    }

    .FormRadio__label {
        font: $font-heading-sm;
        color: $gray;
    }
