@import "variables";

.NewsCard2 {
    background-repeat: no-repeat;
    background-size: cover;
    height: 0;
    max-width: 100%;
    overflow: hidden;
    padding-bottom: 70%;
    position: relative;
}

    .NewsCard2__wrapper {
        align-items: flex-end;
        justify-content: flex-start;
        display: flex;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        padding: $padding-md;
        padding: $padding-xl ?if $mobile;
    }

    .NewsCard2__title {
        color: $white;
        font: $font-heading-md;
        font-weight: normal;
        font-family: $font-family-alt;
        line-height: $line-height-md;
        text-shadow: $text-shadow;
    }
