/* Brand colors */
$yellow: #f7ba00;
$yellow-dark: #d67d00;
$green: #78cc5c;
$green-dark: #288f18;
$red: #ed6262;
$red-dark: #cb4949;
$red-darker: #b13636;
$purple: #8b84d7;
$purple-dark: #5147c0;
$blue: #4ac9e3;
$blue-dark: #0087ae;
$orange: #ff9a3e;
$orange-dark: #d94d00;

/* Neutral colors */
$white: #fff;
$gray-lightest: #fafafa;
$gray-lighter: #eee;
$gray-light: #aaa;
$gray: #555;
$gray-dark: #444;
$gray-darker: #222;
$gray-darkest: #111;

/* Fonts */
$font-family: "Sailec";
$font-family-code: monospace;
$font-size-xs: 13px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 24px;
$font-size-xxl: 32px;
$font-size-xxxl: 48px;
$font-size-xxxxl: 64px;
$line-height-md: 160%;
$line-height-lg: 150%;
$line-height-xl: 140%;
$line-height-xxl: 130%;
$line-height-xxl: 120%;
$line-height-xxxl: 110%;
$font-text-xs: normal $font-size-xs / $line-height-md $font-family, sans-serif;
$font-text-sm: normal $font-size-sm / $line-height-md $font-family, sans-serif;
$font-text-md: normal $font-size-md / $line-height-md $font-family, sans-serif;
$font-text-lg: normal $font-size-lg / $line-height-md $font-family, sans-serif;
$font-text-xl: normal $font-size-xl / $line-height-md $font-family, sans-serif;
$font-heading-xs: 600 $font-size-sm / $line-height-md $font-family, sans-serif;
$font-heading-sm: 600 $font-size-md / $line-height-md $font-family, sans-serif;
$font-heading-md: 600 $font-size-lg / $line-height-md $font-family, sans-serif;
$font-heading-lg: bold $font-size-xl / $line-height-lg $font-family, sans-serif;
$font-heading-xl: bold $font-size-xxl / $line-height-xl $font-family, sans-serif;
$font-heading-xxl: bold $font-size-xxxl / $line-height-xxl $font-family, sans-serif;
$font-heading-xxxl: bold $font-size-xxxxl / $line-height-xxxl $font-family, sans-serif;
$font-code-xs: normal $font-size-xs / $line-height-md $font-family-code, monospace;
$font-code-sm: normal $font-size-sm / $line-height-md $font-family-code, monospace;
$font-code-md: normal $font-size-md / $line-height-md $font-family-code, monospace;
$font-code-lg: normal $font-size-lg / $line-height-md $font-family-code, monospace;

/* Spacing */
$spacer: 12px;
$padding-xxxs: calc($spacer / 4);
$padding-xxs: calc($spacer / 3);
$padding-xs: calc($spacer / 2);
$padding-sm: $spacer;
$padding-md: calc($spacer * 2);
$padding-lg: calc($spacer * 3);
$padding-xl: calc($spacer * 5);
$padding-xxl: calc($spacer * 7);
$padding-xxxl: calc($spacer * 16);
$padding-top-xs: $padding-xs 0 0 0;
$padding-top-sm: $padding-sm 0 0 0;
$padding-top-md: $padding-md 0 0 0;
$padding-top-lg: $padding-lg 0 0 0;
$padding-top-xl: $padding-xl 0 0 0;
$padding-right-xs: 0 $padding-xs 0 0;
$padding-right-sm: 0 $padding-sm 0 0;
$padding-right-md: 0 $padding-md 0 0;
$padding-right-lg: 0 $padding-lg 0 0;
$padding-right-xl: 0 $padding-xl 0 0;
$padding-bottom-xs: 0 0 $padding-xs 0;
$padding-bottom-sm: 0 0 $padding-sm 0;
$padding-bottom-md: 0 0 $padding-md 0;
$padding-bottom-lg: 0 0 $padding-lg 0;
$padding-bottom-xl: 0 0 $padding-xl 0;
$padding-left-xs: 0 0 0 $padding-xs;
$padding-left-sm: 0 0 0 $padding-sm;
$padding-left-md: 0 0 0 $padding-md;
$padding-left-lg: 0 0 0 $padding-lg;
$padding-left-xl: 0 0 0 $padding-xl;
$padding-leftright-xs: 0 $padding-xs;
$padding-leftright-sm: 0 $padding-sm;
$padding-leftright-md: 0 $padding-md;
$padding-leftright-lg: 0 $padding-lg;
$padding-leftright-xl: 0 $padding-xl;
$padding-topbottom-xs: $padding-xs 0;
$padding-topbottom-sm: $padding-sm 0;
$padding-topbottom-md: $padding-md 0;
$padding-topbottom-lg: $padding-lg 0;
$padding-topbottom-xl: $padding-xl 0;
$margin-xs: $padding-xs;
$margin-sm: $padding-sm;
$margin-md: $padding-md;
$margin-lg: $padding-lg;
$margin-xl: $padding-xl;
$margin-xxl: $padding-xxl;
$margin-xxxl: $padding-xxxl;
$margin-top-xs: $margin-xs 0 0 0;
$margin-top-sm: $margin-sm 0 0 0;
$margin-top-md: $margin-md 0 0 0;
$margin-top-lg: $margin-lg 0 0 0;
$margin-top-xl: $margin-xl 0 0 0;
$margin-right-xs: 0 $margin-xs 0 0;
$margin-right-sm: 0 $margin-sm 0 0;
$margin-right-md: 0 $margin-md 0 0;
$margin-right-lg: 0 $margin-lg 0 0;
$margin-right-xl: 0 $margin-xl 0 0;
$margin-bottom-xs: 0 0 $margin-xs 0;
$margin-bottom-sm: 0 0 $margin-sm 0;
$margin-bottom-md: 0 0 $margin-md 0;
$margin-bottom-lg: 0 0 $margin-lg 0;
$margin-bottom-xl: 0 0 $margin-xl 0;
$margin-left-xs: 0 0 0 $margin-xs;
$margin-left-sm: 0 0 0 $margin-sm;
$margin-left-md: 0 0 0 $margin-md;
$margin-left-lg: 0 0 0 $margin-lg;
$margin-left-xl: 0 0 0 $margin-xl;
$margin-leftright-xs: 0 $margin-xs;
$margin-leftright-sm: 0 $margin-sm;
$margin-leftright-md: 0 $margin-md;
$margin-leftright-lg: 0 $margin-lg;
$margin-leftright-xl: 0 $margin-xl;
$margin-topbottom-xs: $margin-xs 0;
$margin-topbottom-sm: $margin-sm 0;
$margin-topbottom-md: $margin-md 0;
$margin-topbottom-lg: $margin-lg 0;
$margin-topbottom-xl: $margin-xl 0;
$width-xxs: calc($spacer / 2);
$width-xs: calc($spacer);
$width-sm: calc($spacer * 2);
$width-md: calc($spacer * 4);
$width-lg: calc($spacer * 6);
$width-xl: calc($spacer * 12);
$width-xxl: calc($spacer * 18);
$width-xxxl: calc($spacer * 24);
$width-xxxxl: calc($spacer * 32);
$height-xxs: $width-xxs;
$height-xs: $width-xs;
$height-sm: $width-sm;
$height-md: $width-md;
$height-lg: $width-lg;
$height-xl: $width-xl;
$height-xxl: $width-xxl;
$height-xxxl: $width-xxxl;
$height-xxxxl: $width-xxxxl;

/* Borders */
$border-gray: 2px solid $gray-lighter;
$border-green: 2px solid $green;
$border-red: 2px solid $red;

/* Border radiuses */
$border-radius-md: 3px;

/* Shadows */
$box-shadow-left: 0 0 $padding-md 0 rgba(0, 0, 0, 0.1);

/* Media queries */
$mobile-width: 34em;
$tablet-width: 48em;
$desktop-width: 62em;
$largedesktop-width: 74em;
$mobile: media (max-width: $mobile-width);
$tablet: media (max-width: $tablet-width);
$desktop: media (max-width: $tablet-width);
$largedesktop: media (max-width: $tablet-width);

/* Opacities */
$opacity-xs: 0.1;
$opacity-sm: 0.25;
$opacity-md: 0.5;
$opacity-lg: 0.75;
$opacity-xl: 0.9;
