@import "variables";

.Btn {
    align-items: center;
    background: $green;
    border-radius: $border-radius-md;
    display: flex;
    font: $font-heading-sm;
    line-height: $line-height-xs;
    justify-content: center;
    padding: $padding-sm $padding-lg;
    text-align: center;
}

.Btn:hover {
    background: $green-hover;
}

    .Btn__icon {
        margin-right: $margin-xs;
    }

    .Btn__title {
        color: $white;
    }

    .Btn--cyan {
        background: $cyan;
    }

    .Btn--cyan:hover {
        background: $cyan-hover;
    }

    .Btn--gray {
        background: $gray-light;
    }

    .Btn--gray:hover {
        background: $gray-light-hover;
    }

    .Btn--facebook {
        background: $facebook;
    }

    .Btn--twitter {
        background: $twitter;
    }

    .Btn--transparent {
        background: rgba(0, 0, 0, 0.2);
        border: $border-white-md;
    }

    .Btn--transparent:hover {
        background: rgba(0, 0, 0, 0.3);
    }

.Btn--narrow {
    display: inline-flex;
    display: flex ?if $mobile;
}

.Btn--large {
    font: $font-heading-md;
    padding: calc($padding-sm * 1.25) $padding-lg;
}

