h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    line-height: 1.3em;
}

h1 {
    text-transform: uppercase;
}

@media (max-width: $screen-xs-max) {

    h2, .h2 { font-size: $font-size-xs-h2; }
    h3, .h3 { font-size: $font-size-xs-h3; }

}