@import "variables";

.ForumItemSmall {
	display: flex;
}

    .ForumItemSmall__profile {
        margin-right: $margin-sm;
    }

    .ForumItemSmall__title {
        font: $font-heading-md;
        margin-right: $margin-xs;
        margin-bottom: $margin-xs;
    }
