.FormButton {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  align-items: center;
  background: $green;
  border-radius: $border-radius-md;
  border: none;
  color: $white;
  display: inline-flex;
  display: block ?if $mobile;
  font: $font-heading-sm;
  line-height: $line-height-xs;
  justify-content: center;
  padding: $padding-sm $padding-lg;
  width: 100% ?if $mobile;
}

.FormButton:hover {
  background: $green-hover;
}

.FormButton--hidden {
  display: none;
}

.FormButton--wide {
  width: 100%;
}

.FormButton--large {
  font: $font-heading-md;
  padding: calc($padding-sm * 1.25) $padding-lg;
}

.FormButton[disabled] {
  opacity: $opacity-md;
}

.FormButton[disabled]:hover {
  background: $green;
}

.FormButton--orange {
  background: $orange;
}

.FormButton--orange:hover {
  background: $orange-hover;
}
