.ForumRowSmall {
	display: flex;
}

    .ForumRowSmall__user {
        margin-right: $margin-sm;
    }

    .ForumRowSmall__title {
        color: $gray-dark;
        font: $font-heading-md;
        margin-bottom: $margin-xs;
    }
