@import "variables";

.Promo {
    height: 0;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    padding-bottom: 50%;
}

    .Promo__iframe {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
