@import "variables";

.FormButton {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    align-items: center;
    background: $green;
    border-radius: $border-radius-md;
    border: none;
    color: $white;
    display: inline-flex;
    display: block ?if $mobile;
    font: $font-heading-sm;
    justify-content: center;
    padding: $padding-sm $padding-lg;
    width: 100% ?if $mobile;
}

.FormButton:hover {
    background: $green-hover;
}

.FormButton--hidden {
    display: none;
}
