@import "variables";

    .FontExperiment__label {
        font-family: monospace;
        margin-bottom: $margin-sm;
        color: $gray-light;
    }

    .FontExperiment__text:hover {
        background: yellow;
    }

    .FontExperiment__text {
        margin-bottom: $margin-lg;
    }

    .FontExperiment__textxs {
        font: $font-text-xs;
    }

    .FontExperiment__textsm {
        font: $font-text-sm;
    }

    .FontExperiment__textmd {
        font: $font-text-md;
    }

    .FontExperiment__textlg {
        font: $font-text-lg;
    }

    .FontExperiment__heading {
        margin-bottom: $margin-lg;
    }

    .FontExperiment__heading:hover {
        background: yellow;
    }

    .FontExperiment__headingxs {
        font: $font-heading-xs;
    }

    .FontExperiment__headingsm {
        font: $font-heading-sm;
    }

    .FontExperiment__headingmd {
        font: $font-heading-md;
    }

    .FontExperiment__headinglg {
        font: $font-heading-lg;
    }

    .FontExperiment__headingxl {
        font: $font-heading-xl;
    }

    .FontExperiment__headingxxl {
        font: $font-heading-xxl;
    }

    .FontExperiment__headingxxxl {
        font: $font-heading-xxxl;
    }

    .FontExperiment__button {
        border: 1px solid black;
        border-radius: 100px;
        padding: 0 0.5em;
    }
