.dropzone {

    text-align: center;
    line-height: 1.5;
    font-size: $font-size-medium;
    position: relative;
    min-height: $spacer * 8;
    width: 100%;
    background: $color-white;
    border: 2px dashed $color-fill-neutral;
    border-radius: 3px;

    .fallback {

        text-align: left;

        .dropzone-input {

            font-size: $font-size-small;
            margin-bottom: $spacer;
        }
    }
}

.dropzone-link {

    color: $color-text-link;
    text-decoration: underline;
}

.dropzone .dz-message {

    margin: $spacer * 2 auto;
}
