.dropzone {

    text-align: center;
    line-height: 1.5;
    font-size: $font-size-medium;
    position: relative;
    display: flex;
    align-items: center;
    min-height: $spacer * 8;
    width: 100%;
    padding: $spacer * 2;
    background: $color-white;
    border: 2px dashed $color-fill-neutral;
    border-radius: 3px;

    @include respond-to(tablet) {

        min-height: $spacer * 16;
    }
}
