.c-search-blogs {

    @include clear-list;
}

    .c-search-blogs__item {

        @include clearfix;

        padding: $spacer * 2 0;
        border-bottom: 1px solid $color-fill-neutral;
        margin-bottom: 0;

        &::before {

            content: normal;
            position: static;
        }

        &:last-child {

            border-bottom: none;
            padding-bottom: 0;
        }
    }

        .c-search-blogs__item-image {

            display: none;

            @include respond-to(tablet) {

                display: block;
                float: left;
                width: $spacer * 8;
                height: $spacer * 5 + 5;
                background-size: cover;
                background-repeat: no-repeat;
            }
        }

        .c-search-blogs__item-content {

            display: block;

            @include respond-to(tablet) {

                margin-left: $spacer * 10;
            }

            p {

                color: $color-text-gray;
                font-size: $font-size-small;
                line-height: 1.5;
                margin: 0;

                span {

                    color: $brand-red;
                    font-weight: $font-weight-bold;
                }
            }
        }

            .c-search-blogs__item-title {

                font-size: $font-size-medium;
                font-weight: $font-weight-bold;
                line-height: 1.35;
                margin-bottom: $spacer;

                @include respond-to(tablet) {

                    display: flex;
                    justify-content: space-between;
                }
            }

                .c-search-blogs__item-title-link {

                    color: $color-text-black;
                    text-decoration: none;
                    display: block;

                    &:hover {

                        text-decoration: underline;
                    }
                }

                .c-search-blogs__item-title-date {

                    color: $color-text-gray;
                    font-size: $font-size-small;
                    font-weight: $font-weight-normal;
                }
