.c-search-users {

    @include clear-list;
}

    .c-search-users__item {

        border-bottom: 1px solid $color-fill-neutral;
        position: relative;
        display: flex;
        align-items: center;
        padding: $spacer * 0.75 0;

        &:last-child {

            border-bottom: none;
            padding-bottom: 0;
        }

        &:hover {

            z-index: 10;
        }
    }

        .c-search-users__item-image {

            position: relative;
            height: $spacer * 4 - 4;
            width: $spacer * 4 - 4;
            margin-right: $spacer * 2;
        }

        .c-search-users__item-title {

            font-size: $font-size-medium;
            font-weight: $font-weight-bold;
        }

            .c-search-users__item-title-link {

                color: $color-text-black;
                text-decoration: none;

                &:hover {

                    text-decoration: underline;
                }
            }
