@import "variables";

.HeaderSearch {
	display: flex;
	align-items: center;
}

	.HeaderSearch__icon {
		cursor: pointer;
		margin-right: $margin-sm;
	}

	.HeaderSearch__input {
		background: none;
		border: none;
		font: $font-text-md;
		padding: $padding-xs;
	}

	.HeaderSearch__input:focus {
	    outline: none;
	}
