@import "variables";

.HeaderSearch {
	display: flex;
	align-items: center;
}

	.HeaderSearch__field {
		padding: $padding-xs;
	}

		.HeaderSearch__field input {
			border: $border-gray-sm;
		}

	.HeaderSearch__icon {
		cursor: pointer;
	}
