@import "variables";

    .UserCommentRow__forum {
        margin-bottom: $margin-md;
        opacity: $opacity-lg;
    }

    .UserCommentRow__comment {
        margin-left: calc($spacer * 5);
        margin-left: 0 ?if $mobile;
    }
