@import "variables";

.show-mobile-desktop {
    display: block ?if $desktop;
    display: none ?if $tablet;
    display: block ?if $mobile;
}

.show-tablet {
    display: none ?if $desktop;
    display: block ?if $tablet;
    display: none ?if $mobile;
}
