@import "variables";

.show-mobile-desktop {
    display: block ?if media (min-width: $tablet-width); /* desktop */
    display: none ?if media (min-width: $mobile-width) and (max-width: $tablet-width); /* tablet */
    display: block ?if media (max-width: $mobile-width); /* mobile */
}

.show-tablet {
    display: none ?if media (min-width: $tablet-width); /* desktop */
    display: block ?if media (min-width: $mobile-width) and (max-width: $tablet-width); /* tablet */
    display: none ?if media (max-width: $mobile-width); /* mobile */
}
