@import 'variables';

.StyleTitle {
    font-size: calc($spacer * 12);
    font-family: $font-family;
    font-weight: bold;
    color: $blue;
    letter-spacing: -0.03em;
    line-height: 0.8em;
    margin-top: $margin-xxl;
}
