@import 'variables';

.Tag {
    align-items: center;
    border: 1px solid $gray;
    border-radius: $border-radius-lg;
    display: inline-flex;
    font: $font-text-xs;
    line-height: $line-height-xs;
    justify-content: center;
    padding: calc($spacer / 4) calc($spacer / 2);
}

.Tag__title {
    color: $gray;
    white-space: nowrap;
}

.Tag__title:hover {
    color: $gray-hover;
}

.Tag--orange {
    border: 1px solid $orange;
}

.Tag--orange .Tag__title {
    color: $orange;
}

.Tag--orange .Tag__title:hover {
    color: $orange-hover;
}

.Tag--red {
    border: 1px solid $red;
    background: $red;
}

.Tag--red:hover {
    background: $red-hover;
}

.Tag--red .Tag__title {
    color: $white;
}

.Tag--white {
    border: 1px solid $white;
    background: rgba(0, 0, 0, 0.05);
}

.Tag--white:hover {
    border: 1px solid $white;
    background: rgba(0, 0, 0, 0.1);
}

.Tag--white .Tag__title {
    color: $white;
}

.Tag--large {
    font: $font-text-md;
    padding: $padding-xxs $padding-sm;
    border-radius: $border-radius-xl;
}
