@import "variables";

.PhotoRow {
    position: relative;
    background: $gray-light;
}

    .PhotoRow__row {
        display: flex;
        display: block ?if $mobile;
    }

    .PhotoRow__subRow {
        display: flex;
    }

    .PhotoRow__actions {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;
        left: 0;
        pointer-events: none;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .PhotoRow__action {
        pointer-events: auto;
        margin-right: $margin-sm;
    }
