@import "../../scss/variables";

.BodyBackgroundMap {

    position: absolute;
    top: calc(#{$spacer} * -12);
    pointer-events: none;
    overflow-x: hidden;
    height: 650px;
    width: 100%;

    svg {
        opacity: $opacity-xxs;
        max-width: 1000px;
        width: 100%;
        height: 100%;
    }
}