@import "../variables";

.Header {
    padding-top: $padding-md;
    position: relative;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    @media (max-width: 576px) {
        //padding-bottom: $padding-sm;
    }

    &__content {
        padding-top: $margin-xl;

        @media (max-width: 768px) {
            padding-top: $margin-lg;
            margin-left: 0;
            margin-right: 0;
        }
    }

    &--light {
        background-color: $gray-lighter;
    }
}