@import "../../variables";

.TravelPackageHotelSelection {
    width: 100%;
    display: flex;
    font-family: $font-family-sailec;
    padding: calc(#{$spacer});

    table {
        width: 100%;
        display: table;
        flex-wrap: wrap;
        border-collapse: collapse;
        font-size: 16px;
        font-family: $font-family-sailec;

        @media (max-width: 768px) {
            display: flex;
        }

        thead {
            border-bottom: 1px solid $gray-lighter;

            @media (max-width: 768px) {
                display: none;
            }

            th {
                text-align: left;
                line-height: $line-height-xl;
                padding-bottom: calc(#{$spacer});
            }
        }

        tbody {
            width: 100%;

            tr {
                border-bottom: 1px solid $gray-lighter;

                @media (max-width: 768px) {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    padding: calc(#{$spacer}) 0;
                }

                &:last-child {
                    border: 0;
                }
            }

            td {
                display: table-cell;
                width: auto;
                min-height: 65px;
                padding: calc(#{$spacer} * 2) calc(#{$spacer} * 2) calc(#{$spacer} * 2) 0;

                @media (max-width: 768px) {
                    padding: 5px 10px;
                    text-align: left;
                    display: flex;
                    flex-direction: column;
                    flex: 1;
                }

                &:first-child {
                    min-width: 200px;
                }

                &:last-child {
                    text-align: right;
                    display: flex;
                    justify-content: flex-end;
                }

                a {
                    color: $blue;
                    text-decoration: none;
                }

                button {
                    border: 0;
                    color: $white;
                    font-weight: bold;

                    &:focus {
                        outline:0;
                    }
                }

                label {
                    font-size: 14px;
                    font-family: $font-family-sailec;
                    color: $gray-light;

                    @media (min-width: 768px) {
                        display: none;
                    }
                }
            }
        }
    }

    &__rating {
        left: 6px;
        position: relative;
        vertical-align: baseline;
        letter-spacing: 2px;
        font-size: 20px;
    }

    &__price_wrapper {
        white-space: nowrap;
        display: flex;
    }

    &__price {
        color: $orange;
        font-weight: 600;
    }
}