@import "variables";

.FrontpageHeader {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: $padding-lg;
    padding-top: $padding-md;
}

    .FrontpageHeader__content {
        height: calc($spacer * 15);
        display: flex;
        justify-content: center;
        align-items: center;
    }
