@import "variables";

.FrontpageHeader {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: $padding-lg;
    padding-top: $padding-md;
}

    .FrontpageHeader__content {
        margin-top: $margin-lg;
        display: flex;
        justify-content: center;
    }

    .FrontpageHeader__search {
        margin-bottom: $margin-lg;
        width: 70%;
        width: 100% ?if $mobile;
    }
