@import 'variables';

.OfferList > *,
.OfferList__offers > * {
    margin-bottom: $margin-lg;
}

.OfferList__filters {
    display: flex;
    display: block ?if $tablet;
    margin-bottom: $margin-xl;

}

.OfferList__filters > * {
    margin-right: $margin-sm;
    margin-bottom: $margin-md ?if $tablet;
}

.OfferList__filters > *:last-child {
    margin: 0;
}
