@import "variables";

.FormHorizontal {
    display: flex;
    display: block ?if $mobile;
}

    .FormHorizontal__field {
        margin: 0 $margin-sm 0 0;
        margin: 0 0 $margin-sm 0 ?if $mobile;
    }
