.FlightTimetable {
    display: flex;
    width: 100%;
}

.FlightTimetable__month {
    margin-right: $margin-xs;
    flex: 1;
}

.FlightTimetable__month:last-child {
    margin-right: 0;
}

.FlightTimetable__monthTitle {
    font: $font-text-xs;
    text-transform: uppercase;
    margin-bottom: $margin-xs;
    text-align: center;
    color: $gray-dark;
}

.FlightTimetable__card {
    position: relative;
    width: 100%;
    background: $gray-light;
    display: flex;
    margin-bottom: $margin-xs;
    height: $height-md;
}

.FlightTimetable__card a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.FlightTimetable__card,
.FlightTimetable__card a {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.FlightTimetable__card:hover {
    background: $gray-light-hover;
}

.FlightTimetable__card:last-child {
    margin-bottom: 0;
}
