@import "variables";

.Body {
    font: $font-text-md;
    line-height: $line-height-lg;
}

.Body--responsive {
    font-family: $font-family;
    font-size: responsive;
    line-height: $line-height-lg;
    max-font-size: $font-size-lg;
    min-font-size: $font-size-md;
}

.Body,
.Body * {
    color: $gray-darkest;
}

.Body p {
    margin-bottom: $margin-md;
}

.Body h1,
.Body h2,
.Body h3 {
    font-size: responsive;
    font-weight: $font-weight-semibold;
    margin: $margin-topbottom-sm;
    max-font-size: $font-size-lg;
    min-font-size: $font-size-md;
}

.Body h4 {
    color: $gray-darker;
    font-size: responsive;
    font-weight: $font-weight-semibold;
    margin: $margin-topbottom-xs;
    max-font-size: $font-size-lg;
    min-font-size: $font-size-md;
}

.Body a,
.Body a:link,
.Body a:active {
    color: $blue;
    text-decoration: underline;
    word-wrap: break-word;
    word-break: break-word;
}

.Body ul,
.Body ol {
    padding-left: $padding-md;
    margin: $margin-md 0;
}

.Body ul li {
    list-style-type: disc;
}

.Body ol li {
    list-style-type: decimal;
}

.Body img {
    width: 100%;
    margin-bottom: $margin-md;
}

.Body table {
    width: 100%;
    border: 1px solid $gray;
    border-collapse: collapse;
    margin: $margin-md 0;
}

.Body th,
.Body tr {
    border-bottom: 1px solid $gray;
    text-align: left;
    vertical-align: top;
}

.Body th {
    background: $gray-light;
    font: $font-heading-md;
}

.Body th,
.Body td {
    padding: $padding-xs;
    border-right: 1px solid #;
}

.Body hr {
    border-top: 1px solid $gray;
    border: 0;
    height: 0;
    margin: $margin-md 0;
}
