@import "variables";

.Body {
    font: $font-text-md;
}

.Body--responsive {
    font-family: $font-family;
    font-size: responsive;
    line-height: $line-height-md;
    max-font-size: $font-size-lg;
    min-font-size: $font-size-md;
}

.Body,
.Body * {
    color: $gray;
}

.Body p {
    margin-bottom: $margin-md;
}

.Body h1,
.Body h2,
.Body h3 {
    font-size: responsive;
    font-weight: $font-weight-semibold;
    margin: $margin-topbottom-sm;
    max-font-size: $font-size-lg;
    min-font-size: $font-size-md;
}

.Body h4 {
    color: $gray-light;
    font-size: responsive;
    font-weight: $font-weight-semibold;
    margin: $margin-topbottom-xs;
    max-font-size: $font-size-lg;
    min-font-size: $font-size-md;
}

.Body a,
.Body a:link
.Body a:active {
    color: $blue;
    text-decoration: underline;
    word-wrap: break-word;
}

.Body ul {
    padding-left: $padding-md;
    margin: $margin-md 0;
}

.Body img {
    width: 100%;
    margin-bottom: $margin-md;
}

.Body table {
    border-collapse: collapse;
    border: 1px solid $gray-lighter;
    margin: $margin-md 0;
    width: 100%;
}

.Body th {
    font-weight: $font-weight-semibold;
    border-bottom: 1px solid $gray-lighter;
    text-align: left;
    vertical-align: top;
}

.Body tr {
    border-bottom: 1px solid $gray-lighter;
    text-align: left;
    vertical-align: top;
}

.Body th {
    background: $gray-lightest;
}

.Body th,
.Body td {
    border-right: 1px solid #;
    padding: $padding-xs;
}

.Body hr {
    border-top: 1px solid $gray-light;
    border: 0;
    height: 0;
    margin: $margin-md 0;
}

.Body .iframeWrapper {
    height: 0;
    max-width: 100%;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    margin-bottom: $margin-md;
}

.Body .iframeWrapper > iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
