@import "variables";

.Body {
    font: $font-text-md;
    line-height: $line-height-lg;
}

.Body,
.Body * {
    color: $gray-dark;
}

.Body p {
    margin-bottom: $margin-md;
}

.Body p:last-child {
    margin-bottom: 0;
}

.Body h1,
.Body h2,
.Body h3 {
    margin: $margin-sm 0 $margin-sm 0;
    font: $font-heading-lg;
}

.Body h4 {
    margin: $margin-sm 0 $margin-sm 0;
    font: $font-heading-md;
}

.Body a,
.Body a:link,
.Body a:active {
    color: $blue;
    text-decoration: underline;
    word-wrap: break-word;
    word-break: break-word;
}

.Body a:hover {
    color: $blue-hover;
}

.Body ul,
.Body ol {
    padding-left: $padding-md;
    margin: $margin-md 0;
}

.Body ul li {
    list-style-type: disc;
}

.Body ol li {
    list-style-type: decimal;
}

.Body blockquote {
    padding-left: $padding-md;
    border-left: $border-gray-lg;
    font: $font-text-lg;
    line-height: $line-height-lg;
    margin-bottom: $margin-md;
    color: $gray-light;
}

.Body img {
    width: 100%;
}

.Body p img {
    margin-bottom: $margin-xxs;
}

.Body table {
    width: 100%;
    border: 1px solid $gray-light;
    border-collapse: collapse;
    margin: $margin-md 0;
}

.Body th,
.Body tr {
    border-bottom: 1px solid $gray-light;
    text-align: left;
    vertical-align: top;
}

.Body th {
    background: $gray-light;
    font: $font-heading-md;
}

.Body th,
.Body td {
    padding: $padding-xs;
    border-right: 1px solid #;
}

.Body hr {
    border-top: 1px solid $gray-light;
    border: 0;
    height: 0;
    margin: $margin-md 0;
}

.Body--responsive {
    font-family: $font-family;
    font-size: responsive;
    line-height: $line-height-lg;
    max-font-size: $font-size-lg;
    min-font-size: $font-size-md;
}

.Body--white,
.Body--white * {
    color: $white;
}

.Body--white a,
.Body--white a:link,
.Body--white a:active {
    color: $white;
}

.Body--gray,
.Body--gray * {
    color: $gray;
}
