@import "variables";

.DestinationBar {
    background: $yellow;
    display: flex;
    height: calc($spacer * 4.5);
    align-items: center;
    padding: 0 calc($spacer * 1.5);
}

.DestinationBar--dark {
    background: $yellow-dark;
}

    .DestinationBar__parents {
        color: $white;
        display: flex;
        font: $font-heading-md;
        align-items: center;
        margin-bottom: $margin-xxs;
    }

    .DestinationBar__parents > div {
        margin-right: $margin-xs;
    }

    .DestinationBar__title {
        color: $white;
        font: $font-heading-lg;
        line-height: 100%;
    }

