.c-travelmate-trip {

    padding: $spacer * 2;
    background: $color-fill-neutral-light;

    @include respond-to(tablet) {

        padding: $spacer * 3;
    }
}

    .c-travelmate-trip__body {}

        .c-travelmate-trip__info {

            margin-bottom: $spacer;
            line-height: 1.5;

            &:last-child {

                margin-bottom: 0;
            }

            span {

                display: block;
            }
        }
