<<<<<<< HEAD
=======
@import 'variables';

.FormCheckbox {
    display: flex;
    align-items: baseline;
}

>>>>>>> master
.FormCheckbox__label {
    color: $gray;
    font: $font-heading-sm;
    margin-left: $margin-sm;
}

.FormCheckbox__checkbox {
    font-size: calc($spacer * 10);
}
