.c-flight-dates {}

    .c-flight-dates__row {

        @include clearfix;

        margin-bottom: $spacer;
        position: relative;

        @include respond-to(tablet) {

            margin-bottom: $spacer * 2;
        }
    }

        .c-flight-dates__column {

            &.m-first {

                padding-right: $spacer * 3;
                margin-bottom: $spacer;

                @include respond-to(tablet) {

                    float: left;
                    width: 35%;
                    padding-right: 0;
                    margin-bottom: 0;
                }
            }

            &.m-last {

                padding-right: $spacer * 3;

                @include respond-to(tablet) {

                    float: right;
                    width: 65%;
                    padding-left: $spacer;
                }
            }

            .c-flight-dates & {

                &.m-first {

                    padding-right: 0;
                }

                &.m-last {

                    padding-right: 0;
                }
            }
        }

        .c-flight-dates__remove {

            display: block;
            position: absolute;
            top: $spacer / 2;
            right: 0;

            svg {

                fill: $color-fill-error;
                height: $spacer * 1.5;
                width: $spacer * 1.5;
            }

            .c-flight-dates & {

                display: none;
            }
        }
