.component-destination-header-3 {
    
    background: $orange;
    width: 100%;

    > .container {

        height: 100%;
        background: white;

        > .row > .left {

        }

        > .row > .center {

            padding-top: $spacer;

            > h3 {

                margin-bottom: $spacer / 2;
                color: $orange;
            }
        
        }

        > .row > .right {
            
            padding-top: $spacer;

            > h3 {

                margin-bottom: $spacer / 2;
                color: $orange;
            
            }

        }

    }

}