.FormTextfield__header {
    display: flex;
}

.FormTextfield__label {
    color: $gray;
    display: block;
    font: $font-heading-sm;
    line-height: $line-height-md;
    margin-bottom: $margin-sm;
}

.FormTextfield__description {
    color: $gray-light;
    font: $font-heading-sm;
    line-height: $line-height-md;
    margin-left: $margin-xs;
    margin-bottom: $margin-sm;
}

.FormTextfield__field {
    display: flex;
    align-items: center;
}

.FormTextfield__prefix {
    color: $gray-light;
    font: $font-heading-sm;
    margin-right: $margin-sm;
}

.FormTextfield__suffix {
    color: $gray-light;
    font: $font-heading-sm;
    margin-left: $margin-xs;
}

.FormTextfield__input {
    border-radius: $border-radius-md;
    border: $border-gray-md;
    color: $gray-dark;
    font: $font-text-md;
    padding: $padding-sm;
    width: 100%;
}

.FormTextfield__input::placeholder {
    color: $gray-light;
}

.FormTextfield--large .FormTextfield__input {
    font: $font-heading-lg;
    padding: $padding-md $padding-smeb;
}

.FormTextfield[disabled] {
    opacity: $opacity-md;
}

.FormTextfield--hidden {
    display: none;
}

.FormTextfield--error .FormTextfield__label {
    color: $red;
}

.FormTextfield--error .FormTextfield__input {
    border-color: $red;
}
