@import "variables";

.Footer {
    background-size: cover;
    padding: $padding-xxl 0 $padding-lg 0;
}

    .Footer__wrapper {
        display: flex;
        flex-direction: column ?if $tablet;
        justify-content: center;
        margin-bottom: $margin-xxl;
    }

    .Footer__col {
        flex-shrink: 0;
        text-align: center ?if $tablet;
        width: 25%;
        width: inherit ?if $tablet;
    }

    .Footer__link {
        color: white;
        font: $font-heading-sm;
        padding: $padding-xs 0;
        padding: $padding-sm 0 ?if $mobile;
    }

    .Footer__social {
        display: flex;
        flex-direction: column ?if $mobile;
        justify-content: center;
        justify-content: left ?if $mobile;
        text-align: center;
    }

    .Footer__socialLink {
        color: white;
        font: $font-heading-sm;
        margin-right: $padding-md;
        padding: $padding-xs;
        line-height: $line-height-xxl;
    }

    .Footer__socialIcon {
        display: none ?if $mobile;
    }

    .Footer__licence {
        color: $gray-light;
        font: $font-text-md;
        height: $height-md;
        margin-top: $margin-lg;
        text-align: center;
        line-height: $line-height-md;
    }

.Footer--light .Footer__link {
    color: $gray;
}

.Footer--light .Footer__socialLink {
    color: $gray;
}

.Footer--light .Footer__licence {
    color: $gray;
}
