@import "variables";

.HeaderNavbar {
    position: relative;
}

    .HeaderNavbar__links {
        display: flex;
    }

    .HeaderNavbar__link {
        padding: $padding-sm;
        color: $gray-darker;
        font: $font-heading-sm;
    }

    .HeaderNavbar__popover {
        width: $width-xxl;
        position: absolute;
        right: 0;
        top: $height-md;
    }

    .HeaderNavbar__arrowWrapper {
        display: flex;
        justify-content: center;
    }

    .HeaderNavbar__arrow {
        width: 0;
        height: 0;
        border-left: $width-xxs solid transparent;
        border-right: $width-xxs solid transparent;
        border-bottom: $width-xxs solid $green;
    }

    .HeaderNavbar__sublinks {
        border-radius: $border-radius-md;
        background: $green;
        padding: $padding-xs 0;
    }

    .HeaderNavbar__sublink {
        color: $white;
        font: $font-heading-sm;
        padding: $padding-xs $padding-sm;
    }

    .HeaderNavbar__sublink:hover {
        color: $white;
        font: $font-heading-sm;
        background: $green-dark;
    }
