@import "variables";

.StyleSpacing {
    display: flex;
    height: calc($spacer * 10);
    overflow: auto;
}

.StyleSpacing__example {
    width: calc($padding-xxxl * 1.3);
    display: flex;
    justify-content: flex-end;
    padding-right: $padding-sm;
}

.StyleSpacing__example > div {
    border: 1px solid $gray;
    background: $gray-lighter;
}

.StyleSpacing__title {
    font: $font-code-sm;
    color: $gray;
}