@import '../../variables.scss';

.FlightCalendar {
    display: flex;
    width: 100%;

    &__month_name {
        font-weight: bold;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;

    }

    &__day {
        background: #fff;
        border: 1px solid #e4e7e7;
        color: #cacccd;
        width: calc(100% / 7);
        height: 60px;
        cursor: pointer;

        &:hover {
            background: #e4e7e7;
        }

        &--selected {
            background: #ff0b6d;
            color: #fff;
        }

        &--in-range {
            background: rgba(255,11,109,.05);
        }
    }
}