@import "variables";

    .FormPassword__label {
        color: $gray;
        display: block;
        font: $font-heading-sm;
        margin-bottom: $margin-sm;
    }

    .FormPassword__input {
        border-radius: $border-radius-md;
        border: $border-gray-md;
        color: $gray-dark;
        font: $font-text-md;
        padding: $padding-sm;
        width: 100%;
        letter-spacing: 0.1rem;
    }

    .FormPassword__input::placeholder {
        color: $gray-light;
    }

.FormPassword--large .FormPassword__input {
    font: $font-heading-md;
    padding: $padding-xs $padding-sm;
}
