@import "../../../scss/variables";

.ImageUpload {
    background: transparent;
}

.ImageUpload:hover {
    background: $lighter-gray;
}

.dropzone {
    min-height: calc(#{$spacer} * 13);
    border: $border-dotted-gray-md;
    border-radius: $border-radius-md;
    padding: 0 !important;
    height: 100%;
}

.dropzone.hasError {
    border-color: $red;
}

.dropzone .dz-message {
    margin: calc(#{$spacer} * 5.5) 0;
}

.dropzone .dz-message span {
    font: $font-text-md;
    color: $blue;
    line-height: $line-height-lg;
}

.dropzone .dz-preview.dz-image-preview {
    background: transparent !important;
}

.dropzone.dz-max-files-reached {
    pointer-events: none;
    cursor: default;
}

.dropzone.dz-max-files-reached .dz-remove {
    pointer-events: auto;
    cursor: pointer;
}
