.FormLink {
    background: none;
    border: none;
    color: $gray;
    cursor: pointer;
    font: $font-text-sm;
    padding: 0 $padding-xs;
    border-radius: $border-radius-md;
    cursor: pointer;
    transition: $transition-md;
}

.FormLink {
    color: $gray;
}

.FormLink:hover {
    color: $gray-hover;
}

.FormLink--white {
    color: $white;
}

.FormLink--white:hover {
    color: $white-hover;
}

.FormLink--green {
    color: $green;
}

.FormLink--green:hover {
    color: $white;
    background: $green;
}

.FormLink--pink {
    color: $pink-dark;
}

.FormLink--pink:hover {
    background: $pink;
}

.FormLink--pink.FormLink--filled {
    color: $pink-dark;
    background: $pink;
}

.FormLink--pink.FormLink--filled:hover {
    background: $pink-hover;
}
