@import "variables";

.BlockHorizontal {
    display: flex;
    display: block ?if $mobile;
    align-items: center;
    flex-wrap: wrap;
    line-height: $line-height-md;
}

.BlockHorizontal__item {
    margin-right: $margin-sm;
    margin-right: 0 ?if $mobile;
    margin-bottom: $margin-sm ?if $tablet;
}

.BlockHorizontal--center {
    justify-content: center;
}

.BlockHorizontal--right {
    justify-content: flex-end;
}

.BlockHorizontal--between {
    justify-content: space-between;
}

.BlockHorizontal--bottom {
    align-items: flex-end;
}
