@import "variables";

.ProfileImage {
    position: relative;
}

.ProfileImage__image {
    border-radius: 50%;
    width: 100%;
}

.ProfileImage__arcRank,
.ProfileImage__arcReminder {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.ProfileImage__arcRank svg {
    stroke: $cyan;
}

.ProfileImage__arcReminder svg {
    stroke: $gray;
}
