body {
    margin: 2em 0 1em 0;
}

img {
    width: 100%;
}

hr {
  margin-top: ceil($line-height-computed * 0.8);
  margin-bottom: ceil($line-height-computed * 0.8);
}

@media (max-width: $screen-xs-max) {

    hr {
      margin-top: ceil($line-height-computed * 0.6);
      margin-bottom: ceil($line-height-computed * 0.6);
    }
}