html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: $spacer 0;
}

img {
    width: 100%;
}

hr {
  margin: $spacer 0;
}

@media (max-width: $screen-xs-max) {

    hr {
      margin:  floor($spacer * 0.5) 0;
    }
}