html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: $default-margin 0;
}

img {
    width: 100%;
}

hr {
  margin: $default-margin 0;
}

@media (max-width: $screen-xs-max) {

    hr {
      margin-top: ceil($line-height-computed * 0.6);
      margin-bottom: ceil($line-height-computed * 0.6);
    }
}