.FormSearchField {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}

.FormSearchField .FormSearchField__input {
    transition: all 0.15s linear;
}

.FormSearchField__input {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 18px 48px rgba(14, 18, 23, 0.2);
    outline: 0;
    -webkit-appearance: none;
    font: $font-heading-md;
    padding: 5px 40px $padding-xxs 50px;
    color: $white;
    border: 0;
    width: 100%;
    height: 50px;
}

.FormSearchField__input:hover,
.FormSearchField__input:focus {
    color: $black;
}

.FormSearchField:hover .FormSearchField__input,
.FormSearchField__input:focus {
    background: $white;
}

.FormSearchField ::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: $white;
}

.FormSearchField :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: $white;
    opacity: 1;
}

.FormSearchField ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: $white;
    opacity: 1;
}

.FormSearchField :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $white;
}

.FormSearchField ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $white;
}

.FormSearchField:hover ::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: $gray-dark;
}

.FormSearchField:hover :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: $gray-dark;
    opacity: 1;
}

.FormSearchField:hover ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: $gray-dark;
    opacity: 1;
}

.FormSearchField:hover :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $gray-dark;
}

.FormSearchField:hover ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $gray-dark;
}

.FormSearchField__icon {
    padding-left: $padding-sm;
    padding-top: 3px;
    position: absolute;
    top: 8px;
    left: 0;
    cursor: pointer;
}

.FormSearchField__icon svg {
    fill: $white;
}

.FormSearchField__input:hover + .FormSearchField__icon svg,
.FormSearchField__input:focus + .FormSearchField__icon svg,
.FormSearchField__icon:hover svg {
    fill: $red-hover;
}
