@import "variables";

.Title__title {
    font: $font-heading-xl;
    font: $font-heading-lg ?if $mobile;
    line-height: $line-height-sm;
    color: $gray-darkest;
}

.Title--large .Title__title {
    font: $font-heading-xxl;
    font: $font-heading-xl ?if $tablet;
}

.Title--white .Title__title {
    color: $white;
}

.Title--red .Title__title {
    color: $red;
}

.Title--shadow .Title__title {
    text-shadow: $text-shadow;
}