@import "variables";

.Title__title {
    font: $font-heading-xl;
    font: $font-heading-lg ?if $mobile;
    line-height: $line-height-sm;
    color: $gray-dark;
}

.Title--small .Title__title {
    font: $font-heading-lg;
    font: $font-heading-md ?if $tablet;
}

.Title--large .Title__title {
    font: $font-heading-xxl;
    font: $font-heading-xl ?if $tablet;
    line-height: $line-height-md;
    line-height: $line-height-lg ?if $tablet;
}

.Title--white .Title__title {
    color: $white;
}

.Title--red .Title__title {
    color: $red;
}

.Title--gray .Title__title {
    color: $gray;
}

.Title--shadow .Title__title {
    text-shadow: $text-shadow-md;
}
