@import "variables";

.Flag {
    display: flex;
    align-items: baseline;
}

    .Flag__icon {
        margin-right: $margin-xs;
    }

    .Flag__icon svg {
        fill: $gray-dark;
    }

    .Flag__value {
        font: $font-text-sm;
        color: $gray-dark;
    }

.Flag--red .Flag__icon svg {
    fill: $red;
}
