@import "variables";

.ForumRow {
    display: flex;
}

    .ForumRow__left {
        display: flex;
        align-items: flex-start;
        padding-right: $padding-sm;
    }

    .ForumRow__right {
        display: flex;
        align-items: center;
    }

    .ForumRow__title {
        color: $gray-dark;
        font: $font-heading-md;
        line-height: $line-height-md;
    }
