@import "variables";

.ForumRow {
    display: flex;
}

    .ForumRow__left {
        display: flex;
        display: none ?if $mobile;
        align-items: flex-start;
        padding-right: $padding-sm;
    }

    .ForumRow__right {
        display: flex;
        align-items: center;
    }

    .ForumRow__title {
        color: $gray-darkest;
        font: $font-heading-md;
        margin-bottom: $margin-xs;
        line-height: $line-height-md;
    }
