@import "variables";

.HeaderLight {
    padding-top: $padding-md;
    padding-bottom: $padding-md;
    padding-bottom: $padding-xs ?if $mobile;
}

    .HeaderLight__content {
        margin-top: $margin-xxl;
    }

    .HeaderLight__metaWrapper {
        margin-top: $margin-md;
        display: flex;
        flex-direction: column-reverse ?if $tablet;
        align-items: center;
        align-items: flex-start ?if $tablet;
        justify-content: space-between;
    }

    .HeaderLight__meta {
        margin-top: $margin-md ?if $tablet;
    }

    .HeaderLight__title {
        color: $gray-darkest;
        font: $font-heading-xxl;
        font: $font-heading-xl ?if $mobile;
        margin-right: $margin-md;
    }
