.malta-promotion {
    display: none;
	position: relative;
	background-color: $color-text-link;

	&__wrap {
		position: relative;
		max-width: 100%;
		padding: 0 18px;
	}

	&__svg-wrap {
		position: absolute;
		right: 0;
		top: 19px;

		svg {
			width: 10px;
			height: 10px;
			cursor: pointer;
		}

		//&:hover {
		//	top: 18px;
		//
		//	svg {
		//		width: 12px;
		//		height: 12px;
		//	}
		//}
	}

	&__title {
		display: inline-block;
		color: white;
		line-height: 1;
		font-weight: 600;
		padding: 18px 0;
	}

	&__link {
		font-weight: 600;
		padding-left: 10px;
		color: white;
		line-height: 1;
	}
}

@media (min-width: 560px) {
	.malta-promotion {
		&__wrap {
			padding: 0 24px;
		}
	}
}

@media ( max-width: 660px ) {
	.malta-promotion {
		&__text-container {
			max-width: 85%;
		}

		&__title {
			line-height: 1.25;
		}

		&__link {
			display: block;
			padding-left: 0;
			padding-bottom: 18px;
		}
	}
}

@media ( max-width: 1200px ) {
	.malta-promotion {
		&__svg-wrap {
			right: 18px;
		}
	}
}

@media ( min-width: 1200px ) {
	.malta-promotion {
		&__wrap {
			max-width: 1152px;
			margin-left: auto;
			margin-right: auto;
			padding: 0 82.29px;
		}
	}
}