@import "variables";
@import "dropzone/dist/dropzone.css";

.FormFileDrop {
    background: transparent;
}

.FormFileDrop:hover {
    background: rgba(0, 0, 0, 0.25);
}

.dropzone {
    min-height: inherit;
    border: $border-gray-md;
    border-radius: $border-radius-md;
}

.dropzone .dz-message {
    margin: $margin-md 0;
}

.dropzone .dz-message span {
    font: $font-text-md;
    color: $blue;
    line-height: $line-height-lg;
}
