@import "variables";
@import "dropzone/dist/dropzone.css";

.FormFileDrop {
    background: transparent;
}

.FormFileDrop:hover {
    background: rgba(0, 0, 0, 0.25);
}

.dropzone {
    height: calc($spacer * 12);
    border: $border-dotted-gray-md;
    border-radius: $border-radius-md;
    padding: 0 !important;
}

.dropzone .dz-message {
    margin: 0;
}

.dropzone .dz-message span {
    font: $font-text-md;
    color: $blue;
    line-height: $line-height-lg;
}

.dropzone .dz-preview.dz-image-preview {
    background: transparent !important;
}
