@import "variables";

.Placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    height: $height-xl;
    border: 1px dashed $gray;
    opacity: $opacity-lg;
}

.Placeholder:hover {
    background: $pink;
}

.Placeholder--lg {
    height: $height-xxxl;
}

.Placeholder--xl {
    height: calc($spacer * 50);
}

    .Placeholder__title {
        font: $font-text-md;
        color: $gray-dark;
    }
