.component-ad {

    background-color: #eee;
    width: 100%;
    padding-bottom: 15%;

    > .content {

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        display: flex;
        justify-content: center;
        align-items: center;

        > .title {
        
            opacity: 0.5;
            font-weight: normal;
            font-family: sans-serif;
            filter: invert(100%);
        
        }

    }
    

    &.-high {

        padding-bottom: 60%;

    }

    &.-skyscraper {

        padding-bottom: 150%;

    }

    &.-square {

        padding-bottom: 100%;

    }

}