.component-background {
    
    background-position: center;
    background-size: cover;
    width: 100%;
    height: $spacer * 8;

    > .overlay {

        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: $spacer * 8;

        background-color: rgba(0,0,0,0.5);

        display: flex;
        justify-content: center;
        align-items: center;

        > .content > h2 {

            color: white;

        }

    }

}