.component-header-2 {
    
    background: $orange;
    width: 100%;

    > .container {

        color: white;

        > .subheader

            background: white;
            
            height: $spacer;
            padding-left: $spacer / 2;

            display: flex;
            flex-direction: column;
            justify-content: center; 

        }

        > .row > .left {

            margin-bottom: $spacer;

        }

        > .row > .center {

            padding-top: $spacer;

        }

        > .row > .right {

            padding-top: $spacer;

        }

    }

}