.component-header-2 {
    
    background: $orange;
    width: 100%;

    > .container {

        color: white;

        > .row > .left {

            margin-bottom: $spacer;

            > .subheader {

                background: white;

                height: $spacer * 2;
                margin-top: $spacer * -2;
                padding-left: $spacer;

                display: flex;
                flex-direction: column;
                justify-content: center; 

                > h3 {

                    color: $orange;

                }

            }

        }

        > .row > .center {

            padding-top: $spacer;

            color: white;

        }

        > .row > .right {

            padding-top: $spacer;

        }

    }

}