.component-number {
    
    text-align: center;

    .number {
        font-size: $font-size-h2;
        font-family: $headings-font-family;
        font-weight: $headings-font-weight;
        color: $headings-color;
        line-height: $headings-line-height;
    }

}