.component-placeholder {

    width: 100%;
    padding: $spacer;

    display: flex;
    justify-content: center;
    align-items: center;
    
    border: 1px dashed gray;
    color: black;
    opacity: 0.5;

}