.component-row {

    > .row > [class*="col-"] {

        display: flex;
        flex-direction: column;
        justify-content: center;

        > .content {

            > .title > a > h4,
            > .title > span {

                display: inline-block;
            
            }
        
            > .text {

                display: inline-block;
                opacity: 0.7;
                        
            }

            > .actions {

                display: inline-block;
            
            }

        }
    
    }

}