.component-row {
    > .row > div:nth-child(1) {
        background: yellow;
    }

    > .row > div:nth-child(2) {
        background: orange;
    }

    > .row > div:nth-child(3) {
        background: yellow;
    }

    > .row > [class*="col-"] {

        display: flex;
        flex-direction: column;
        justify-content: center;

        > .content {

            > .title > a > h3,
            > .title > span {

                display: inline-block;
            
            }
        
            > .text {

                display: inline-block;
                opacity: 0.7;
                        
            }

            > .actions {

                display: inline-block;
            
            }

        }
    
    }

}