.component-subheader {
    
    &.-orange {

        > .row > div > h3 {

            color: $orange;
            text-transform: uppercase;
            font-size: $font-size-h5;

        }
    
    }

    &.-padded {

        height: $spacer * 2;
        padding: 0 $spacer / 2;

        display: flex;
        flex-direction: column;
        justify-content: center; 

    }

}