.FormUpload {
    border: $border-dotted-gray-md;
    border-radius: $border-radius-md;
    padding: calc($spacer * 1.3) $padding-xl;
    text-align: center;
    font: $font-text-lg;
}

.FormUpload--hidden {
    display: none;
}
