@import 'variables';

.Offer__header {
    position: relative;
}

.Offer__headerItem {
    margin-bottom: $margin-md;
}

.Offer__top {
    padding: 0 $margin-sm ?if $tablet;
}

.Offer__topItem {
    margin-bottom: $margin-md;
}

.Offer__topItem:last-child {
    margin-bottom: 0;
}

.Offer__outerWrapper {
    display: flex;
    justify-content: center;
    position: relative;
}

.Offer__innerWrapper {
    max-width: calc($desktop-width * 0.75);
}

.Offer__content {
    padding: $padding-md;
    margin: $margin-sm ?if $tablet;
}

.Offer__contentItem {
    margin-bottom: $margin-md;
}

.Offer__contentItem:last-child {
    margin-bottom: 0;
}

.Offer__bottom {
    background: $white;
    padding: $padding-md;
    padding: $padding-sm 0 ?if $mobile;
}
