@import "variables";

.Frontpage__header {
    position: relative;
}

.Frontpage__topWrapper {
    display: flex;
    justify-content: center;
}

.Frontpage__top {
    margin-top: calc($spacer * -3);
    padding-bottom: $margin-lg;
    padding-bottom: $margin-md ?if $tablet;
    max-width: $largedesktop-width;
    width: 90%;
    width: $mobile-width ?if $tablet;
    width: 80% ?if $mobile;
}

.Frontpage__topItem {
    margin-bottom: $margin-lg;
}

.Frontpage__topItem:last-child {
    margin-bottom: 0;
}

.Frontpage__outerContainer {
    background: $white;
    display: flex;
    justify-content: center;
    position: relative;
}

.Frontpage__innerContainer {
    display: flex;
    display: block ?if $tablet;
}

.Frontpage__content {
    background: $white;
    position: relative;
    width: 100%;
    padding-top: $margin-lg;
    padding-top: $margin-md ?if $tablet;
    padding-bottom: $margin-lg;
    padding-bottom: $margin-md ?if $tablet;
}

.Frontpage__contentItem {
    margin-bottom: $margin-md;
}

.Frontpage__contentItem:last-child {
    margin-bottom: 0;
}

.Frontpage__sidebar {
    background: white;
    padding-bottom: $margin-lg;
    padding-bottom: $margin-md ?if $tablet;
    padding-left: $margin-xl;
    padding-left: 0 ?if $tablet;
    padding-top: $margin-lg;
    padding-top: 0 ?if $tablet;
    width: 100% ?if $tablet;
    width: calc($spacer * 33);
}

.Frontpage__sidebarItem {
    margin-bottom: $margin-md;
}

.Frontpage__sidebarItem:last-child {
    margin-bottom: 0;
}

/* Bottom */

.Frontpage__bottom1 {
    padding-bottom: $margin-lg;
    padding-bottom: $margin-md ?if $tablet;
}

.Frontpage__bottom1Item {
    margin-bottom: $margin-md;
}

.Frontpage__bottom1Item:last-child {
    margin-bottom: 0;
}

.Frontpage__bottom3 {
    background: $gray-lighter;
    padding: $margin-md;
    padding-bottom: $margin-md ?if $tablet;
}

.Frontpage__bottom3Item {
    margin-bottom: $margin-md;
}

.Frontpage__bottom3Item:last-child {
    margin-bottom: 0;
}

/* Footer */

.Frontpage__footer {
    background: $white;
}
