@import "variables";

.FlightRow {
    display: flex;
}

    .FlightRow__left {
        display: flex;
        align-items: top;
        padding-right: $padding-sm;
        display: none ?if $mobile;
    }

    .FlightRow__right {
        display: flex;
        align-items: center;
    }

    .FlightRow__title {
        color: $blue;
        font: $font-heading-lg;
        margin-bottom: $margin-xs;
        line-height: $line-height-md;
    }
