.c-navbar-mobileuser {

    @include clearfix;
    @include clear-list;

    text-align: center;
}

    .c-navbar-mobileuser__item {

        position: relative;
        padding-left: 0;
        margin-bottom: 0;

        &::before {

            content: normal;
            position: static;
        }
    }

        .c-navbar-mobileuser__item-link {

            @include font-smoothing;

            color: $color-white;
            font-size: $font-size-normal;
            font-weight: $font-weight-bold;
            text-decoration: none;
            display: block;
            padding: $spacer * 1.5 $spacer;

            .m-alternative & {

                color: $color-white;
            }

            .m-alternative .m-blog & {

                color: $color-white;
            }

            .c-navbar-mobileuser__item.m-image & {

                padding: $spacer / 2 0;
            }
        }

            .c-navbar-mobileuser__item-text {

                display: inline-block;

                .c-navbar-mobileuser__item.m-image & {

                    position: relative;
                    top: -$spacer;
                }
            }

            .c-navbar-mobileuser__item-image {

                display: inline-block;
                padding-left: $spacer;
            }

            .c-navbar-mobileuser__item-badge {

                padding-left: $spacer / 2;
            }
