@import "variables";

.Two__header {
    position: relative;
}

.Two__top {
    background: $gray;
}

.Two__mainOuter {
    background: $white;
    width: 100%;
}

.Two__mainInner {
    max-width: $largedesktop-width;
    width: 100%;
    display: flex;
    display: block ?if $tablet;
    background: $white;
}

.Two__content {
    background: $white;
    position: relative;
    width: 80%;
    width: 100% ?if $tablet;
    padding-top: $margin-xl;
    padding-top: $margin-md ?if $tablet;
}

.Two__contentItem {
    margin-bottom: $margin-md;
}

.Two__contentItem:last-child {
    margin-bottom: 0;
}

.Two__sidebar {
    background: white;
    padding-bottom: $margin-xl;
    padding-bottom: $margin-md ?if $tablet;
    padding-left: $margin-xl;
    padding-left: 0 ?if $tablet;
    padding-top: $margin-xl;
    padding-top: $margin-md ?if $tablet;
    width: 100% ?if $tablet;
    width: $width-xxxl;
}

.Two__sidebarItem {
    margin-bottom: $margin-md;
}

.Two__sidebarItem:last-child {
    margin-bottom: 0;
}

.Two__bottom {
    background: $gray-lighter;
    padding: $padding-lg;
    padding: $padding-md ?if $tablet;
}

.Two__footer {
    background: $white;
}