@import "../../variables";

.CompanyEditProfileForm {

    background: $white;
    max-width: 48em;
    width: 100%;
    padding: calc(#{$spacer} * 2);
    margin: 0 auto;

    &__subtitle {

        color: $color-blue;
        font: $font-heading-lg;
        margin-bottom: calc(#{$spacer} * 2);

        &--withTop {

            padding-top: calc(#{$spacer} * 2);
        }

        @media (max-width: 768px) {

            font: $font-heading-md;
        }
    }

    &__field {

        margin-bottom: calc(#{$spacer} * 2);
        line-height: 1em;
    }

    &__submit-button {

        padding-top: calc(#{$spacer});
    }
}