@import "../../variables";

.CompanyVPList {

    width: 100%;
    padding: 0 12px;

    &__block {

        display: flex;
        width: 100%;
        flex-direction: column;
        border-bottom: 2px solid $gray-lighter;
        padding-top: 24px;

        &__title {

            font-family: $font-family-sailec;
            font-weight: bold;
            font-size: 14px;
            line-height: 14px;
            text-transform: uppercase;
            color: $gray;
            margin-bottom: 24px
        }

        &__item {

            margin-bottom: 24px;
        }

        &--no-border {

            border-bottom: 0;
        }
    }
}