@import "../../variables";

.FormTextarea {

    &__header {
        display: flex;
    }

    &__label {

        color: $gray;
        display: block;
        font: $font-heading-sm;
        line-height: $line-height-md;
        margin-bottom: $margin-sm;
    }

    &__description {

        color: $gray-light;
        font: $font-heading-sm;
        line-height: $line-height-md;
        margin-left: $margin-xs;
        margin-bottom: $margin-sm;
    }

    &__textarea {

        border-radius: $border-radius-md;
        border: $border-gray-md;
        font: $font-text-md;
        padding: $padding-sm;
        width: 100%;
        color: $gray-dark;

        &::placeholder {

            color: $gray-light;
        }

        &:read-only {

            background: $gray-lighter;
            color: $gray;
            opacity: $opacity-md;
        }
    }

    &--borderless {

        .FormTextarea__textarea {
            border: none;
        }
    }

    &--hidden {

        display: none;
    }
}