@import "variables";

    .NewsCard__image {
        background-repeat: no-repeat;
        background-size: cover;
        height: $height-xxl;
        margin-bottom: $margin-sm;
    }

    .NewsCard__title {
        color: $blue;
        font: $font-heading-md;
        line-height: $line-height-md;
        margin-bottom: $margin-sm;
    }
