@import "variables";

    .NewsCard__image {
        background-repeat: no-repeat;
        background-size: cover;
        height: 0;
        max-width: 100%;
        overflow: hidden;
        padding-bottom: 58%;
        position: relative;
        margin-bottom: $margin-sm;
    }

    .NewsCard__title {
        color: $blue;
        font: $font-heading-md;
        line-height: $line-height-md;
        margin-bottom: $margin-sm;
    }