@import "variables";

.NewsCard {
    align-items: flex-end;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    padding: $padding-md;
    height: $height-xxl;
}

    .NewsCard__title {
        color: $white;
        font: $font-heading-lg;
        line-height: $line-height-md;
        margin-bottom: $margin-sm;
        text-shadow: $text-shadow;
    }
