@import "variables";

.Gallery {

}

	.Gallery__wrapper {
    	display: flex;
    	flex-wrap: wrap;
    }

    .Gallery__image {
    	cursor: pointer;
    	height: auto;
    }

    .Gallery__Fullscreen {
    	position: fixed;
    	top: 0;
    	left: 0;
    	width: 99vw;
    	height: 100vh;
    	background: rgba(0,0,0,0.8);
    	z-index: 1;
    	display: flex;
    	align-items: center;
    	justify-content: center;
    }

    	.Gallery--close {
    		position: absolute;
    		top: 10px;
    		right: 10px;
    		cursor: pointer;
    		margin: $margin-sm;
    		z-index: 7;
    	}

    	.Gallery__Fullitem {
	    	position: relative;
	    	display: flex;
	    	flex-direction: column;
	    	max-width: 80%;
	    	max-width: 100% ?if $tablet;
    	}

    	.Gallery__Fullimage {
    		max-height: 75vh;
    		width: auto;
    		max-width: 100% ?if $tablet;
    		height: auto ?if $tablet;
    	}

    	.Gallery__imageinfo {
    		display: flex;
    		flex-direction: column;
    		align-items: flex-end;
    		padding: $padding-sm;
    		width: 100%;
    		font: $font-text-md;
    		background: $white;
    		border-bottom-left-radius: 15px;
    		border-bottom-right-radius: 15px; 		
    	}

    		.Gallery__imageinfo span {
    			color: $gray-darkest;
    			line-height: 150%;
    		}

			.Gallery__left {
				position: absolute;
				height: 100vh;
				left: 0;
				display: flex;
				justify-content: center;
				align-items: center;
				padding: $padding-md;
				cursor: pointer;
				z-index: 5;
			}

			.Gallery__right {
				position: absolute;
				right: 0;
				height: 100vh;
				display: flex;
				justify-content: center;
				align-items: center;
				padding: $padding-md;
				cursor: pointer;
				z-index: 5;
			}

		.Gallery__close {
			padding: $padding-md;
			cursor: pointer;
		}
