@import "../../../variables";

.page-travel_package-show {
    width: 100%;

    &__header {
        height: 400px;
        width: 100%;
        font-family: $font-family-sailec;

        @media (max-width: 768px) {
            height: 300px;
        }

        &__tag_container {
            display: flex;
            justify-content: center;
        }

        &__tag {
            font-size: 16px;
            border: 2px solid $white;
            font-weight: 600;
            padding: calc(#{$spacer} / 3) calc(#{$spacer} / 2);
        }

        h3 {
            font-family: $font-family-sailec;
            font-size: $font-size-xxxl;
            line-height: 48px;
            text-align: center;
            color: $white;
            margin-bottom: calc(#{$spacer} * 2);
            padding-top: calc(#{$spacer} * 2);
            padding-right: calc(#{$spacer} * 3);

            @media (max-width: 768px) {
                font-size: $font-size-xxl;
                line-height: 24px;
                margin-left: 0;
                margin-bottom: calc(#{$spacer} * 2);
                padding-right: 0;
            }
        }
    }

    &__content {
        display: flex;
        width: 100%;
        min-height: 500px;
        height: 100%;
        font-family: $font-family-sailec;
        font-size: 16px;
    }

    &__info {
        display: flex;
        width: 100%;
        border-bottom: 1px solid $gray-lighter;
        justify-content: space-between;
        padding: calc(#{$spacer}) 0;
        margin-bottom: calc(#{$spacer} * 4);

        @media (max-width: 768px) {
            flex-direction: column;
            margin-bottom: calc(#{$spacer} * 3);
        }
    }

    &__info_block {
        display: flex;
        width: 100%;
        justify-content: center;
        padding: calc(#{$spacer});
        font-family: $font-family-sailec;
        font-size: 20px;
        font-weight: 600;
        color: $gray;
        align-items: center;

        @media (max-width: 768px) {
            justify-content: flex-start;
        }

        a {
            display: flex;
            color: $gray;
            text-decoration: none;
        }

        &--with_border {
            border-left: 1px solid $gray-lighter;
            border-right: 1px solid $gray-lighter;

            @media (max-width: 768px) {
                border: 0;
            }
        }

        svg {
            margin-right: calc(#{$spacer});
            width: 25px;
            height: 25px;
            fill: $blue;
        }

        svg.page-travel_package-show__cal_svg {
            margin-right: 18px;
        }

        &__time {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__nights {
            font-weight: bold;
        }

        &__price {
            color: $orange;
        }
    }

    &__hotels {
        width: 100%;
        padding-bottom: calc(#{$spacer} * 2);
    }
}