@import "variables";

.Tag {
    align-items: center;
    border: 1px solid $gray-darker;
    border-radius: $border-radius-lg;
    display: inline-flex;
    font: $font-text-xs;
    justify-content: center;
    padding: calc($spacer / 4) calc($spacer / 2) calc($spacer / 8) calc($spacer / 2);
}

    .Tag__title {
        color: $gray-darker;
        white-space: nowrap;
    }

.Tag--orange {
    border: 1px solid $orange;
}

.Tag--orange .Tag__title {
    color: $orange;
}

.Tag--red {
    border: 1px solid $red;
    background: $red;
}

.Tag--red .Tag__title {
    color: $white;
}

.Tag--white {
    border: 1px solid $white;
    background: rgba(0, 0, 0, 0.05);
}

.Tag--white .Tag__title {
    color: $white;
}

.Tag--large {
    padding: $padding-xs $padding-sm;
    border-radius: $border-radius-xl;
}
