@import "variables";

.Tag {
    align-items: center;
    border: 1px solid $gray-dark;
    border-radius: $border-radius-lg;
    display: inline-flex;
    font: $font-text-xs;
    justify-content: center;
    padding: $padding-xxxs $padding-xs;
}

    .Tag__title {
        color: $gray-dark;
        white-space: nowrap;
    }

.Tag--orange {
    border: 1px solid $orange;
}

.Tag--orange .Tag__title {
    color: $orange;
}
