.component-user-image {

    img {
        width: $spacer * 7;
    }

    &.-small > img {
        
        width: $spacer * 4;
    
    }

    &.-large > img {
        
        width: $spacer * 12;
    
    }

    &.-circle > img {

        border-radius: 50%;

    }

}