@import "variables";

.FormSelect {

}

.multiselect__content {
    overflow: auto;
}

.multiselect__option--highlight {
    background: $orange !important;
}

.multiselect__option--highlight::after {
    content: none !important;
}

.multiselect__tags {
    font: $font-text-sm !important;
}

.multiselect__tag {
    font: $font-text-xs !important;
    background: none !important;
    border: 1px solid $orange !important;
    border-radius: $border-radius-lg !important;
    color: $orange !important;
}

.multiselect__tag span {
    color: $orange !important;
}

.multiselect__tag-icon:hover {
    background: none !important;
}

.multiselect__tag-icon::after {
    color: $orange !important;
}

.multiselect__content {
    font: $font-text-sm;
}
