@import "variables";

.NavbarMobile {
    display: block;
    position: relative;
    z-index: 10000;
}

    .NavbarMobile__menuIcon {
        cursor: pointer;
    }

    .NavbarMobile__menuIcon svg {
        fill: $gray-darker;
    }

    .NavbarMobile__userImage {
        margin-left: $margin-sm;
        display: flex;
        align-items: center;
    }

    .NavbarMobile__badge {
        margin-right: $margin-xs;
    }

    .NavbarMobile__menu {
        align-items: flex-start;
        background: $green;
        bottom: 0;
        left: 0;
        padding: $padding-md;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 10000;
    }

    .NavbarMobile__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .NavbarMobile__search svg {
        fill: $white;
    }

    .NavbarMobile__closeIcon {
        cursor: pointer;
    }

    .NavbarMobile__closeIcon svg {
        fill: $white;
    }

    .NavbarMobile__links {
        padding: $padding-lg;
    }

    .NavbarMobile__sublinkWrapper {
        padding: $padding-sm;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .NavbarMobile__sublinkTitle {
        color: $white;
        font: $font-text-lg;
        text-align: center;
    }

    .NavbarMobile__sublinkBadge {
        margin-left: $margin-sm;
    }

.NavbarMobile--white .NavbarMobile__menuIcon svg {
    fill: $white;
}
