@import 'variables';

.FlexGrid__row {
    display: flex;
    display: block ?if $tablet;
}

.FlexGrid__item {
    margin-bottom: $margin-md ?if $tablet;
}

.FlexGrid__item:last-child {
    margin-bottom: 0;
}

.FlexGrid--debug .FlexGrid__item {
    border: 1px dashed $red;
}
