@import "variables";

.NavbarDesktop {
    position: relative;
    z-index: 1000;
}

    .NavbarDesktop__links {
        display: flex;
    }

    .NavbarDesktop__link {
        padding: $padding-sm;
        color: $gray-darker;
        font: $font-heading-sm;
        white-space: nowrap;
    }

    .NavbarDesktop__userImage {
        margin-left: $margin-sm;
        display: flex;
        align-items: center;
    }

    .NavbarDesktop__badge {
        margin-right: $margin-xs;
    }

    .NavbarDesktop__popover {
        width: $width-xxl;
        position: absolute;
        right: 0;
        top: $height-md;
    }

    .NavbarDesktop__arrowWrapper {
        display: flex;
        justify-content: center;
    }

    .NavbarDesktop__arrow {
        width: 0;
        height: 0;
        border-left: $width-xxs solid transparent;
        border-right: $width-xxs solid transparent;
        border-bottom: $width-xxs solid $green;
    }

    .NavbarDesktop__sublinks {
        border-radius: $border-radius-md;
        background: $green;
        padding: $padding-xs 0;
    }

    .NavbarDesktop__sublinkWrapper {
        padding: $padding-sm $padding-md;
        display: flex;
        align-items: center;
    }

    .NavbarDesktop__sublinkWrapper:hover {
        background: $green-dark;
    }

    .NavbarDesktop__sublinkTitle {
        color: $white;
        font: $font-heading-sm;
    }

    .NavbarDesktop__sublinkBadge {
        margin-left: $margin-sm;
    }

.NavbarDesktop--white .NavbarDesktop__link {
    color: $white;
}
